set_location IN_MUX_bfv_1_5_0_ 1 5 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_6_0_ 1 6 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_8_0_ 1 8 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_10_0_ 1 10 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_9_5_0_ 9 5 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_4_11_0_ 4 11 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_4_12_0_ 4 12 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_4_13_0_ 4 13 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_8_13_0_ 8 13 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_9_11_0_ 9 11 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_9_12_0_ 9 12 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_5_8_0_ 5 8 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_5_9_0_ 5 9 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_9_8_0_ 9 8 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_9_9_0_ 9 9 0 #ICE_CARRY_IN_MUX
set_location tok.sub_105_add_2_16_THRU_CRY_0 4 12 7 #SB_CARRY
set_location CONSTANT_ONE_LUT4 2 12 1 #SB_LUT4
set_location tok.uart.sender_i1_THRU_LUT4_0 5 13 4 #SB_LUT4
set_location tok.i2_4_lut_adj_196_tok.depth_i3_REP_LUT4_0 7 4 0 #SB_LUT4
set_location tok.i2_4_lut_4_lut_tok.depth_i1_REP_LUT4_0 7 4 1 #SB_LUT4
set_location tok.i2_3_lut_adj_192_tok.depth_i2_REP_LUT4_0 7 4 7 #SB_LUT4
set_location tok.i1_4_lut_adj_38_tok.stall_200_REP_LUT4_0 9 7 6 #SB_LUT4
set_location tok.i1_2_lut_adj_193_tok.depth_i0_REP_LUT4_0 7 8 0 #SB_LUT4
set_location tok.i3_3_lut_adj_53 13 7 7 #SB_LUT4
set_location tok.i14_4_lut_adj_208 6 6 0 #SB_LUT4
set_location tok.A_stk.tail_111__I_0_i101_3_lut_4_lut 5 6 0 #SB_LUT4
set_location tok.C_stk.tail_i0_i30 11 3 0 #SB_DFFE
set_location tok.A__15__I_16_i8_3_lut 2 8 5 #SB_LUT4
set_location tok.i6_4_lut_adj_44 5 7 7 #SB_LUT4
set_location tok.i5_3_lut 6 9 7 #SB_LUT4
set_location tok.i2_4_lut_adj_94 2 8 7 #SB_LUT4
set_location tok.i226_2_lut 6 5 5 #SB_LUT4
set_location tok.A_stk.tail_111__I_0_i32_3_lut_4_lut 6 2 5 #SB_LUT4
set_location tok.i5_3_lut_adj_110 2 10 1 #SB_LUT4
set_location tok.A_stk.tail_i0_i15 6 2 6 #SB_DFFE
set_location i1035_4_lut_4_lut 4 4 1 #SB_LUT4
set_location tok.i9_4_lut_adj_129 7 6 2 #SB_LUT4
set_location tok.A_stk.tail_15__I_0_i16_3_lut 6 2 1 #SB_LUT4
set_location tok.A_stk.tail_111__I_0_i40_3_lut_4_lut 0 7 4 #SB_LUT4
set_location tok.A_i16 6 10 1 #SB_DFFER
set_location tok.inv_106_i13_1_lut 2 12 4 #SB_LUT4
set_location tok.i1_4_lut_adj_217 7 8 7 #SB_LUT4
set_location tok.add_104_13 9 9 3 #SB_CARRY
set_location tok.A_stk.tail_15__I_0_i10_3_lut 0 6 7 #SB_LUT4
set_location tok.uart.sender_9__I_0_i5_3_lut 7 10 7 #SB_LUT4
set_location tok.A_stk.tail_111__I_0_i108_3_lut_4_lut 1 4 0 #SB_LUT4
set_location tok.i4353_2_lut_3_lut 7 5 0 #SB_LUT4
set_location tok.i26_3_lut_adj_147 8 6 6 #SB_LUT4
set_location tok.C_stk.tail_i0_i27 12 4 3 #SB_DFFE
set_location tok.C_stk.head_i0_i1 8 6 1 #SB_DFF
set_location i1122_3_lut 9 6 1 #SB_LUT4
set_location tok.i3_4_lut_adj_56 5 12 7 #SB_LUT4
set_location tok.A_stk.tail_i0_i76 5 2 2 #SB_DFFE
set_location tok.A_stk.tail_111__I_0_i97_3_lut_4_lut 2 3 6 #SB_LUT4
set_location tok.A__15__I_16_i6_3_lut 6 12 4 #SB_LUT4
set_location tok.select_73_Select_14_i2_3_lut 6 11 1 #SB_LUT4
set_location tok.i3_4_lut_adj_89 5 10 1 #SB_LUT4
set_location tok.add_109_5 5 8 3 #SB_CARRY
set_location tok.sub_100_add_2_6_lut 9 11 4 #SB_LUT4
set_location tok.i5_4_lut_adj_63 2 12 6 #SB_LUT4
set_location tok.add_109_16_lut 5 9 6 #SB_LUT4
set_location tok.A_stk.tail_i0_i90 2 7 1 #SB_DFFE
set_location tok.i8_4_lut_adj_67 7 12 1 #SB_LUT4
set_location tok.C_stk.tail_55__I_0_i14_3_lut 12 3 0 #SB_LUT4
set_location tok.C_stk.n4870_bdd_4_lut 8 6 1 #SB_LUT4
set_location tok.uart.sender_i6 7 11 7 #SB_DFFE
set_location tok.tc_i1 9 6 6 #SB_DFFS
set_location tok.sub_105_add_2_4 4 11 2 #SB_CARRY
set_location tok.A_stk.tail_i0_i36 5 6 4 #SB_DFFE
set_location i1023_4_lut_4_lut 4 4 0 #SB_LUT4
set_location tok.tc_7__I_0_3_lut 9 5 1 #SB_LUT4
set_location tok.i9_4_lut_adj_83 6 11 5 #SB_LUT4
set_location tok.i1_2_lut_adj_125 8 3 7 #SB_LUT4
set_location tok.i1_2_lut 2 11 7 #SB_LUT4
set_location tok.C_stk.tail_i0_i45 12 3 5 #SB_DFFE
set_location GND -1 -1 -1 #GND
set_location tok.i50_3_lut_adj_187 7 10 2 #SB_LUT4
set_location tok.A_stk.tail_i0_i54 4 6 3 #SB_DFFE
set_location tok.inv_106_i8_1_lut 4 8 5 #SB_LUT4
set_location tok.C_stk.tail_55__I_0_i25_3_lut 11 2 7 #SB_LUT4
set_location tok.A_stk.tail_i0_i87 0 7 1 #SB_DFFE
set_location tok.A_stk.tail_111__I_0_i76_3_lut_4_lut 1 4 2 #SB_LUT4
set_location tok.uart.i5_3_lut 1 7 2 #SB_LUT4
set_location tok.key_rd_15__I_0_241_i14_2_lut 5 7 3 #SB_LUT4
set_location tok.A_stk.tail_111__I_0_i21_3_lut_4_lut 5 6 5 #SB_LUT4
set_location i1078_3_lut 2 10 6 #SB_LUT4
set_location tok.sub_105_add_2_2_lut 4 11 0 #SB_LUT4
set_location tok.i5_4_lut_adj_164 7 5 2 #SB_LUT4
set_location tok.i2_2_lut_4_lut 6 7 3 #SB_LUT4
set_location tok.C_stk.tail_i0_i60 11 4 6 #SB_DFF
set_location tok.A_stk.tail_i0_i25 0 6 5 #SB_DFFE
set_location tok.sub_105_add_2_14 4 12 4 #SB_CARRY
set_location tok.sub_100_add_2_4 9 11 2 #SB_CARRY
set_location tok.i5_4_lut_adj_134 6 5 3 #SB_LUT4
set_location tok.i4623_3_lut 9 12 3 #SB_LUT4
set_location tok.A_stk.tail_i0_i13 4 5 6 #SB_DFFE
set_location tok.A_stk.tail_i0_i126 4 4 0 #SB_DFF
set_location tok.idx_7__I_0_6_lut 8 13 4 #SB_LUT4
set_location tok.idx_7__I_0_3 8 13 1 #SB_CARRY
set_location tok.add_104_13_lut 9 9 3 #SB_LUT4
set_location tok.C_stk.tail_55__I_0_i9_3_lut 11 2 0 #SB_LUT4
set_location tok.uart.i2_4_lut 2 9 0 #SB_LUT4
set_location tok.i27_4_lut_adj_104 8 5 4 #SB_LUT4
set_location tok.i1_4_lut_adj_88 11 6 5 #SB_LUT4
set_location tok.i1_4_lut_adj_211 7 13 3 #SB_LUT4
set_location tok.tc_7__I_0_8_lut 9 5 6 #SB_LUT4
set_location tok.A_stk.tail_i0_i43 1 4 4 #SB_DFFE
set_location tok.idx_7__I_0_2_lut 8 13 0 #SB_LUT4
set_location tok.i9_4_lut_adj_50 6 10 3 #SB_LUT4
set_location tok.C_stk.tail_i0_i21 12 3 2 #SB_DFFE
set_location tok.A_i7 8 10 5 #SB_DFFER
set_location tok.uart.capture_i0_i5 2 10 7 #SB_DFF
set_location tok.A_stk.tail_i0_i107 1 4 0 #SB_DFFE
set_location tok.A_stk.tail_i0_i70 4 6 2 #SB_DFFE
set_location tok.i6_4_lut_adj_55 11 10 7 #SB_LUT4
set_location tok.i125_4_lut 8 3 6 #SB_LUT4
set_location i1076_4_lut_4_lut 6 3 5 #SB_LUT4
set_location tok.sub_105_add_2_4_lut 4 11 2 #SB_LUT4
set_location tok.uart.txclkcounter_144_add_4_5 1 5 3 #SB_CARRY
set_location tok.i1_2_lut_3_lut_adj_189 6 3 1 #SB_LUT4
set_location tok.A_stk.tail_111__I_0_i72_3_lut_4_lut 0 7 2 #SB_LUT4
set_location tok.A_stk.tail_111__I_0_i35_3_lut_4_lut 4 3 1 #SB_LUT4
set_location tok.uart.rxrst_I_0_4_lut 2 9 6 #SB_LUT4
set_location tok.i1_2_lut_3_lut 13 7 6 #SB_LUT4
set_location tok.uart.sender_i8 7 11 5 #SB_DFFE
set_location tok.uart.rxclkcounter_147__i0 1 8 0 #SB_DFFSS
set_location tok.sub_100_add_2_7_lut 9 11 5 #SB_LUT4
set_location tok.C_stk.tail_i0_i7 9 2 4 #SB_DFFE
set_location tok.A_stk.tail_i0_i38 4 6 4 #SB_DFFE
set_location tok.A_stk.tail_i0_i0 2 3 1 #SB_DFFE
set_location tok.idx_i7 6 13 5 #SB_DFFR
set_location tok.i2578_2_lut 7 5 6 #SB_LUT4
set_location tok.C_stk.tail_i0_i11 12 4 0 #SB_DFFE
set_location tok.A_stk.tail_111__I_0_i25_3_lut_4_lut 2 5 5 #SB_LUT4
set_location tok.uart.txclkcounter_144_add_4_2_lut 1 5 0 #SB_LUT4
set_location tok.uart.add_72_5_lut 1 10 3 #SB_LUT4
set_location tok.i6_4_lut_adj_201 7 7 0 #SB_LUT4
set_location tok.i2_4_lut_adj_174 8 11 2 #SB_LUT4
set_location tok.A_stk.tail_i0_i81 5 3 5 #SB_DFFE
set_location tok.A_stk.tail_111__I_0_i1_3_lut_4_lut 2 3 1 #SB_LUT4
set_location i1096_4_lut_4_lut 2 6 3 #SB_LUT4
set_location tok.tc_7__I_0_8 9 5 6 #SB_CARRY
set_location tok.ram.i5_4_lut_adj_21 12 6 3 #SB_LUT4
set_location tok.ram.i4662_4_lut 8 6 2 #SB_LUT4
set_location tok.uart.txclkcounter_144_add_4_6 1 5 4 #SB_CARRY
set_location tok.A_stk.tail_i0_i99 5 4 0 #SB_DFFE
set_location tok.uart.i1_2_lut 4 9 3 #SB_LUT4
set_location tok.i5_4_lut_adj_162 11 10 1 #SB_LUT4
set_location tok.A_stk.tail_i0_i23 0 7 5 #SB_DFFE
set_location tok.ram.i1550_3_lut 11 3 4 #SB_LUT4
set_location tok.inv_106_i7_1_lut 9 12 6 #SB_LUT4
set_location tok.i2649_3_lut_4_lut 8 9 2 #SB_LUT4
set_location tok.i1_4_lut_adj_194 7 5 4 #SB_LUT4
set_location i1077_3_lut 2 10 7 #SB_LUT4
set_location tok.uart.txclkcounter_144_add_4_9_lut 1 5 7 #SB_LUT4
set_location tok.sub_100_add_2_8_lut 9 11 6 #SB_LUT4
set_location tok.idx_7__I_0_5 8 13 3 #SB_CARRY
set_location tok.i26_3_lut_adj_138 11 6 2 #SB_LUT4
set_location tok.i1_4_lut_adj_106 8 5 5 #SB_LUT4
set_location tok.add_104_6_lut 9 8 4 #SB_LUT4
set_location tok.add_104_3_lut 9 8 1 #SB_LUT4
set_location tok.uart.rxclkcounter_147__i5 1 8 5 #SB_DFFSR
set_location tok.uart.rx_data_i0_i3 9 10 7 #SB_DFF
set_location tok.uart.add_72_2 1 10 0 #SB_CARRY
set_location tok.ram.i1547_3_lut 11 3 5 #SB_LUT4
set_location tok.i8_4_lut_adj_119 6 9 1 #SB_LUT4
set_location tok.i10_4_lut_adj_136 4 7 2 #SB_LUT4
set_location tok.C_stk.tail_i0_i4 9 2 5 #SB_DFFE
set_location tok.idx_i2 7 13 5 #SB_DFFR
set_location tok.C_stk.tail_i0_i14 12 3 7 #SB_DFFE
set_location tok.A_stk.tail_i0_i45 4 5 4 #SB_DFFE
set_location tok.A_stk.tail_i0_i115 4 4 7 #SB_DFF
set_location tok.A_stk.tail_111__I_0_i58_3_lut_4_lut 0 6 3 #SB_LUT4
set_location tok.i50_4_lut_adj_216 7 8 6 #SB_LUT4
set_location tok.i125_4_lut_adj_131 8 4 2 #SB_LUT4
set_location tok.A_stk.head_i0_i1 5 3 7 #SB_DFFE
set_location tok.uart.txclkcounter_144__i6 1 5 6 #SB_DFFSR
set_location tok.uart.sentbits_146__i0 4 9 6 #SB_DFFESR
set_location tok.ram.i1659_3_lut 12 4 4 #SB_LUT4
set_location tok.ram.i1657_4_lut 11 4 7 #SB_LUT4
set_location tok.i1_3_lut_4_lut 6 4 6 #SB_LUT4
set_location tok.i13_4_lut 6 6 4 #SB_LUT4
set_location tok.A_stk.tail_111__I_0_i68_3_lut_4_lut 5 4 2 #SB_LUT4
set_location i1049_3_lut 8 8 5 #SB_LUT4
set_location tok.i2_4_lut_adj_158 11 10 0 #SB_LUT4
set_location tok.C_stk.tail_i0_i53 12 3 6 #SB_DFFE
set_location tok.C_stk.tail_55__I_0_i43_3_lut 8 2 3 #SB_LUT4
set_location tok.C_stk.tail_55__I_0_i11_3_lut 11 3 7 #SB_LUT4
set_location tok.uart.bytephase__i3 1 10 3 #SB_DFFESR
set_location tok.ram.i5_4_lut_adj_22 12 6 5 #SB_LUT4
set_location tok.ram.i4641_4_lut 8 5 2 #SB_LUT4
set_location tok.add_109_9 5 8 7 #SB_CARRY
set_location tok.C_stk.tail_i0_i38 11 3 1 #SB_DFFE
set_location tok.A_stk.tail_111__I_0_i102_3_lut_4_lut 5 4 5 #SB_LUT4
set_location tok.uart.txclkcounter_144_add_4_3 1 5 1 #SB_CARRY
set_location tok.i4584_2_lut_3_lut 13 7 5 #SB_LUT4
set_location tok.add_104_9 9 8 7 #SB_CARRY
set_location tok.add_104_8_lut 9 8 6 #SB_LUT4
set_location tok.T_7__I_0_220_i11_2_lut_4_lut 11 7 1 #SB_LUT4
set_location tok.i4400_2_lut_4_lut 7 5 1 #SB_LUT4
set_location tok.i1_4_lut_adj_123 7 11 2 #SB_LUT4
set_location tok.i1_4_lut_adj_115 7 3 5 #SB_LUT4
set_location tok.equal_155_i16_2_lut_3_lut 8 9 1 #SB_LUT4
set_location tok.equal_113_i9_2_lut 11 7 0 #SB_LUT4
set_location tok.add_104_5_lut 9 8 3 #SB_LUT4
set_location tok.or_99_i8_3_lut_4_lut 6 5 6 #SB_LUT4
set_location tok.inv_106_i11_1_lut 4 13 1 #SB_LUT4
set_location tok.i1_4_lut_adj_191 7 13 6 #SB_LUT4
set_location tok.equal_117_i10_2_lut 12 10 5 #SB_LUT4
set_location tok.i1_4_lut_adj_105 9 7 2 #SB_LUT4
set_location tok.C_stk.tail_55__I_0_i41_3_lut 8 2 7 #SB_LUT4
set_location tok.A_stk.tail_111__I_0_i26_3_lut_4_lut 0 6 5 #SB_LUT4
set_location i1062_4_lut_4_lut 4 4 6 #SB_LUT4
set_location tok.uart.rxclkcounter_147_add_4_5 1 8 3 #SB_CARRY
set_location tok.uart.rxclkcounter_147__i6 1 8 6 #SB_DFFSR
set_location tok.uart.rx_data_i0_i6 4 10 5 #SB_DFF
set_location tok.i7_4_lut_adj_144 7 12 6 #SB_LUT4
set_location tok.C_stk.tail_i0_i1 7 2 1 #SB_DFFE
set_location tok.A_stk.tail_111__I_0_i69_3_lut_4_lut 5 6 2 #SB_LUT4
set_location tok.A_stk.tail_111__I_0_i67_3_lut_4_lut 4 3 4 #SB_LUT4
set_location i1067_3_lut 9 10 7 #SB_LUT4
set_location tok.sub_105_add_2_9 4 11 7 #SB_CARRY
set_location tok.idx_i1 7 13 3 #SB_DFFR
set_location tok.i4_4_lut_adj_149 7 13 0 #SB_LUT4
set_location tok.i3_3_lut_adj_60 12 9 3 #SB_LUT4
set_location tok.A_stk.tail_i0_i112 2 6 1 #SB_DFF
set_location tok.A_stk.tail_111__I_0_i54_3_lut_4_lut 5 5 3 #SB_LUT4
set_location i1109_4_lut_4_lut 2 6 7 #SB_LUT4
set_location tok.uart.i4701_2_lut 1 7 4 #SB_LUT4
set_location tok.add_109_14 5 9 4 #SB_CARRY
set_location tok.A_stk.tail_i0_i61 4 5 3 #SB_DFFE
set_location tok.A_stk.tail_111__I_0_i62_3_lut_4_lut 4 5 3 #SB_LUT4
set_location tok.A_stk.head_i0_i2 4 3 7 #SB_DFFE
set_location tok.A_stk.head_i0_i14 2 4 7 #SB_DFFE
set_location tok.uart.i3_4_lut_adj_27 6 8 6 #SB_LUT4
set_location tok.C_stk.tail_i0_i48 9 2 7 #SB_DFFE
set_location tok.A_stk.tail_i0_i108 5 2 0 #SB_DFFE
set_location tok.uart.txclkcounter_144__i1 1 5 1 #SB_DFFSR
set_location tok.uart.sentbits_146__i3 2 9 1 #SB_DFFESR
set_location tok.ram.mem2 10 7 0 #SB_RAM40_4K
set_location tok.add_109_10_lut 5 9 0 #SB_LUT4
set_location tok.A_stk.tail_i0_i79 6 2 2 #SB_DFFE
set_location tok.uart.i1_2_lut_3_lut_4_lut 6 7 6 #SB_LUT4
set_location tok.search_clk_198 7 8 5 #SB_DFFR
set_location tok.ram.i1625_3_lut 8 2 4 #SB_LUT4
set_location tok.inv_106_i15_1_lut 2 12 0 #SB_LUT4
set_location tok.i9_4_lut_adj_64 8 12 7 #SB_LUT4
set_location tok.C_stk.tail_55__I_0_i32_3_lut 11 2 3 #SB_LUT4
set_location tok.A_stk.tail_15__I_0_i9_3_lut 2 5 7 #SB_LUT4
set_location tok.sub_105_add_2_8_lut 4 11 6 #SB_LUT4
set_location tok.i1_3_lut_adj_185 8 9 7 #SB_LUT4
set_location tok.uart.i3804_1_lut 4 9 6 #SB_LUT4
set_location tok.i54_3_lut 8 11 5 #SB_LUT4
set_location tok.i1_4_lut_adj_116 8 3 1 #SB_LUT4
set_location tok.A_stk.tail_i0_i29 4 5 5 #SB_DFFE
set_location tok.sub_100_add_2_8 9 11 6 #SB_CARRY
set_location tok.idx_7__I_0_4_lut 8 13 2 #SB_LUT4
set_location tok.i4710_2_lut 13 8 7 #SB_LUT4
set_location tok.A_stk.tail_15__I_0_i11_3_lut 2 7 7 #SB_LUT4
set_location tok.i1_4_lut_adj_108 6 5 7 #SB_LUT4
set_location tok.A_stk.tail_i0_i18 4 3 0 #SB_DFFE
set_location tok.A_stk.tail_111__I_0_i105_3_lut_4_lut 2 5 0 #SB_LUT4
set_location tok.uart.rx_data_i0_i5 4 10 1 #SB_DFF
set_location tok.uart.add_72_4 1 10 2 #SB_CARRY
set_location tok.i4_4_lut 5 12 5 #SB_LUT4
set_location tok.i4390_2_lut 7 9 0 #SB_LUT4
set_location tok.i4375_4_lut 8 11 0 #SB_LUT4
set_location tok.i2_3_lut_4_lut 6 3 6 #SB_LUT4
set_location tok.i1_4_lut_adj_31 6 13 5 #SB_LUT4
set_location tok.add_109_6_lut 5 8 4 #SB_LUT4
set_location tok.A_i13 2 11 4 #SB_DFFER
set_location tok.add_104_16 9 9 6 #SB_CARRY
set_location tok.A_stk.tail_111__I_0_i79_3_lut_4_lut 2 4 2 #SB_LUT4
set_location tok.A_stk.tail_111__I_0_i6_3_lut_4_lut 5 5 6 #SB_LUT4
set_location tok.uart.i1_3_lut_4_lut 2 10 3 #SB_LUT4
set_location tok.ram.i1510_3_lut 9 2 4 #SB_LUT4
set_location tok.i2_4_lut_adj_52 7 9 2 #SB_LUT4
set_location tok.add_109_11 5 9 1 #SB_CARRY
set_location tok.C_stk.tail_55__I_0_i28_3_lut 12 4 3 #SB_LUT4
set_location tok.A_stk.tail_i0_i62 2 4 3 #SB_DFFE
set_location tok.uart.sender_9__I_0_i6_3_lut 7 11 7 #SB_LUT4
set_location tok.i989_3_lut 8 10 2 #SB_LUT4
set_location tok.i987_3_lut 7 12 4 #SB_LUT4
set_location tok.i3_4_lut_adj_206 6 6 3 #SB_LUT4
set_location tok.C_stk.head_i0_i6 8 5 1 #SB_DFF
set_location tok.A_i8 2 8 6 #SB_DFFER
set_location tok.uart.rxclkcounter_147_add_4_4_lut 1 8 2 #SB_LUT4
set_location tok.uart.capture_i0_i8 1 9 6 #SB_DFF
set_location tok.inv_106_i4_1_lut 6 13 1 #SB_LUT4
set_location tok.i2_4_lut_adj_182 8 7 0 #SB_LUT4
set_location tok.C_stk.tail_55__I_0_i27_3_lut 8 2 0 #SB_LUT4
set_location tok.C_stk.n4912_bdd_4_lut 9 4 1 #SB_LUT4
set_location tok.A_stk.tail_i0_i88 2 5 1 #SB_DFFE
set_location tok.A_stk.tail_111__I_0_i95_3_lut_4_lut 2 4 1 #SB_LUT4
set_location tok.i3_4_lut_adj_76 6 11 2 #SB_LUT4
set_location tok.i2_4_lut 12 8 4 #SB_LUT4
set_location tok.A_stk.tail_111__I_0_i104_3_lut_4_lut 0 7 0 #SB_LUT4
set_location tok.C_stk.tail_i0_i36 8 2 2 #SB_DFFE
set_location tok.A_stk.tail_15__I_0_i5_3_lut 5 6 7 #SB_LUT4
set_location tok.A_stk.tail_111__I_0_i50_3_lut_4_lut 5 3 3 #SB_LUT4
set_location tok.uart.txclkcounter_144_add_4_9 1 5 7 #SB_CARRY
set_location tok.uart.rxclkcounter_147_add_4_6_lut 1 8 4 #SB_LUT4
set_location tok.idx_7__I_0_7_lut 8 13 5 #SB_LUT4
set_location tok.add_104_3 9 8 1 #SB_CARRY
set_location tok.sub_105_add_2_6_lut 4 11 4 #SB_LUT4
set_location tok.i1_4_lut_adj_113 7 3 7 #SB_LUT4
set_location tok.i10_4_lut_adj_80 4 7 3 #SB_LUT4
set_location tok.equal_142_i20_2_lut 7 3 6 #SB_LUT4
set_location tok.add_109_9_lut 5 8 7 #SB_LUT4
set_location tok.A_stk.tail_111__I_0_i110_3_lut_4_lut 4 5 0 #SB_LUT4
set_location tok.uart.add_72_4_lut 1 10 2 #SB_LUT4
set_location tok.i50_4_lut 9 12 4 #SB_LUT4
set_location tok.i2574_2_lut_3_lut 4 8 2 #SB_LUT4
set_location tok.A_stk.tail_111__I_0_i30_3_lut_4_lut 4 5 5 #SB_LUT4
set_location tok.A_stk.tail_111__I_0_i19_3_lut_4_lut 4 3 0 #SB_LUT4
set_location tok.idx_7__I_0_9_lut 8 13 7 #SB_LUT4
set_location tok.depth_i2 7 4 7 #SB_DFFR
set_location tok.A_stk.tail_111__I_0_i48_3_lut_4_lut 6 2 4 #SB_LUT4
set_location tok.uart.rxclkcounter_147_add_4_3 1 8 1 #SB_CARRY
set_location tok.i1_4_lut_adj_34 11 9 5 #SB_LUT4
set_location tok.i1_4_lut_adj_175 8 8 4 #SB_LUT4
set_location tok.A_i14 7 12 3 #SB_DFFER
set_location tok.uart.sender_9__I_0_i3_3_lut 7 10 6 #SB_LUT4
set_location tok.tc_i4 9 6 3 #SB_DFFS
set_location tok.sub_105_add_2_3 4 11 1 #SB_CARRY
set_location tok.or_101_i11_2_lut 2 12 2 #SB_LUT4
set_location tok.i8_4_lut 4 8 3 #SB_LUT4
set_location tok.i8_1_lut_2_lut_4_lut 8 11 4 #SB_LUT4
set_location tok.i1_4_lut_adj_188 7 10 3 #SB_LUT4
set_location tok.add_104_15 9 9 5 #SB_CARRY
set_location tok.A_stk.tail_111__I_0_i52_3_lut_4_lut 5 4 4 #SB_LUT4
set_location tok.sub_100_add_2_10_lut 9 12 0 #SB_LUT4
set_location tok.or_101_i9_2_lut 6 12 7 #SB_LUT4
set_location tok.i4602_2_lut_3_lut 6 4 1 #SB_LUT4
set_location tok.i26_2_lut 6 5 2 #SB_LUT4
set_location tok.i1_4_lut_adj_91 6 10 6 #SB_LUT4
set_location tok.i1512_3_lut_4_lut 4 8 4 #SB_LUT4
set_location tok.add_109_12 5 9 2 #SB_CARRY
set_location tok.C_stk.tail_55__I_0_i29_3_lut 8 2 6 #SB_LUT4
set_location tok.A_stk.tail_i0_i67 5 4 2 #SB_DFFE
set_location tok.A_stk.head_i0_i8 2 5 7 #SB_DFFE
set_location tok.A_stk.head_i0_i12 5 2 7 #SB_DFFE
set_location tok.i27_4_lut_adj_132 9 4 5 #SB_LUT4
set_location tok.i2546_2_lut 9 12 1 #SB_LUT4
set_location tok.i2534_2_lut 11 8 3 #SB_LUT4
set_location tok.equal_154_i16_3_lut_4_lut 13 7 2 #SB_LUT4
set_location tok.C_stk.tail_i0_i29 12 3 3 #SB_DFFE
set_location tok.C_stk.head_i0_i3 12 5 6 #SB_DFF
set_location tok.A_stk.tail_15__I_0_i8_3_lut 0 7 7 #SB_LUT4
set_location tok.A_stk.tail_111__I_0_i22_3_lut_4_lut 5 5 5 #SB_LUT4
set_location tok.i1_2_lut_adj_99 9 10 4 #SB_LUT4
set_location tok.C_stk.tail_55__I_0_i16_3_lut 9 2 2 #SB_LUT4
set_location tok.sub_100_add_2_9_lut 9 11 7 #SB_LUT4
set_location tok.select_73_Select_5_i2_2_lut 9 12 2 #SB_LUT4
set_location tok.ram.i1551_3_lut 11 3 2 #SB_LUT4
set_location tok.C_stk.tail_i0_i58 6 3 2 #SB_DFF
set_location tok.i2669_2_lut 11 9 3 #SB_LUT4
set_location tok.i1_2_lut_adj_167 9 10 0 #SB_LUT4
set_location tok.equal_121_i9_2_lut 11 7 5 #SB_LUT4
set_location tok.C_stk.tail_i0_i31 11 2 3 #SB_DFFE
set_location tok.tc_7__I_0_3 9 5 1 #SB_CARRY
set_location tok.sub_105_inv_0_i1_1_lut 5 10 6 #SB_LUT4
set_location tok.add_109_7 5 8 5 #SB_CARRY
set_location tok.A_stk.tail_111__I_0_i38_3_lut_4_lut 5 5 4 #SB_LUT4
set_location tok.i2570_2_lut_3_lut 1 9 1 #SB_LUT4
set_location tok.equal_157_i15_2_lut_3_lut 12 8 1 #SB_LUT4
set_location tok.A_stk.tail_i0_i96 2 3 6 #SB_DFFE
set_location tok.i4681_2_lut 8 10 3 #SB_LUT4
set_location tok.add_109_4_lut 5 8 2 #SB_LUT4
set_location i1088_4_lut_4_lut 2 6 1 #SB_LUT4
set_location tok.uart.rxclkcounter_147_add_4_8_lut 1 8 6 #SB_LUT4
set_location tok.sub_105_add_2_11 4 12 1 #SB_CARRY
set_location tok.equal_114_i11_2_lut_4_lut 11 8 6 #SB_LUT4
set_location tok.A_stk.tail_i0_i16 2 2 0 #SB_DFFE
set_location tok.A__15__I_0_i11_4_lut 6 10 5 #SB_LUT4
set_location tok.sub_105_add_2_10_lut 4 12 0 #SB_LUT4
set_location tok.idx_7__I_0_8 8 13 6 #SB_CARRY
set_location tok.i4_4_lut_adj_204 6 13 0 #SB_LUT4
set_location tok.i4_4_lut_adj_198 4 7 1 #SB_LUT4
set_location tok.C_stk.tail_i0_i8 11 2 0 #SB_DFFE
set_location tok.uart.i5_4_lut 1 7 6 #SB_LUT4
set_location tok.tc_i3 9 6 4 #SB_DFFS
set_location tok.sub_105_add_2_6 4 11 4 #SB_CARRY
set_location tok.i1_4_lut_adj_151 6 12 3 #SB_LUT4
set_location tok.add_104_10 9 9 0 #SB_CARRY
set_location tok.C_stk.tail_55__I_0_i42_3_lut 7 2 5 #SB_LUT4
set_location tok.C_stk.tail_55__I_0_i26_3_lut 7 2 3 #SB_LUT4
set_location tok.A_stk.tail_i0_i30 2 4 5 #SB_DFFE
set_location tok.A_stk.tail_i0_i119 2 6 5 #SB_DFF
set_location tok.uart.add_72_7_lut 1 10 5 #SB_LUT4
set_location tok.uart.i4707_2_lut_3_lut 4 9 2 #SB_LUT4
set_location tok.C_stk.tail_i0_i43 12 4 5 #SB_DFFE
set_location tok.C_stk.tail_i0_i26 8 2 0 #SB_DFFE
set_location tok.C_stk.head_i0_i0 9 3 4 #SB_DFF
set_location tok.A_i2 7 7 3 #SB_DFFER
set_location tok.i4_4_lut_adj_65 5 10 7 #SB_LUT4
set_location tok.i4624_4_lut 6 9 3 #SB_LUT4
set_location tok.A_stk.tail_i0_i52 5 6 3 #SB_DFFE
set_location tok.A_stk.tail_111__I_0_i53_3_lut_4_lut 5 6 3 #SB_LUT4
set_location tok.i1549_3_lut_4_lut 8 7 4 #SB_LUT4
set_location tok.A_stk.tail_i0_i77 4 5 2 #SB_DFFE
set_location tok.A_stk.tail_111__I_0_i46_3_lut_4_lut 4 5 4 #SB_LUT4
set_location tok.xor_103_i7_2_lut 11 11 1 #SB_LUT4
set_location tok.idx_7__I_0_3_lut 8 13 1 #SB_LUT4
set_location tok.i7_4_lut_adj_51 4 8 0 #SB_LUT4
set_location tok.add_109_2 5 8 0 #SB_CARRY
set_location tok.add_104_5 9 8 3 #SB_CARRY
set_location tok.A_stk.tail_111__I_0_i28_3_lut_4_lut 1 4 5 #SB_LUT4
set_location tok.stall_200 9 7 6 #SB_DFFR
set_location tok.i15_4_lut 7 6 1 #SB_LUT4
set_location tok.A_stk.tail_i0_i91 1 4 1 #SB_DFFE
set_location tok.C_stk.tail_i0_i62 11 4 4 #SB_DFF
set_location tok.A_stk.tail_111__I_0_i71_3_lut_4_lut 4 6 2 #SB_LUT4
set_location tok.sub_105_add_2_12 4 12 2 #SB_CARRY
set_location tok.sub_100_add_2_6 9 11 4 #SB_CARRY
set_location tok.equal_120_i14_2_lut_3_lut_4_lut 11 7 4 #SB_LUT4
set_location tok.A_stk.tail_i0_i120 2 6 4 #SB_DFF
set_location tok.A_stk.tail_i0_i11 1 4 6 #SB_DFFE
set_location tok.A_stk.tail_15__I_0_i12_3_lut 1 4 7 #SB_LUT4
set_location tok.i7_4_lut 12 10 0 #SB_LUT4
set_location tok.i1697_3_lut_4_lut 8 7 7 #SB_LUT4
set_location tok.C_stk.tail_55__I_0_i47_3_lut 11 3 3 #SB_LUT4
set_location tok.A_stk.tail_111__I_0_i9_3_lut_4_lut 2 5 6 #SB_LUT4
set_location i1_2_lut 1 9 5 #SB_LUT4
set_location tok.uart.sender_i7 7 11 6 #SB_DFFE
set_location tok.sub_105_add_2_5 4 11 3 #SB_CARRY
set_location tok.i1_4_lut_adj_213 7 13 5 #SB_LUT4
set_location tok.A_stk.tail_i0_i5 5 5 6 #SB_DFFE
set_location tok.A_stk.tail_i0_i37 5 5 4 #SB_DFFE
set_location tok.A_stk.tail_111__I_0_i64_3_lut_4_lut 6 2 3 #SB_LUT4
set_location tok.ram.i1585_3_lut 12 3 4 #SB_LUT4
set_location tok.inv_106_i5_1_lut 5 12 1 #SB_LUT4
set_location tok.i3_4_lut_adj_40 6 8 1 #SB_LUT4
set_location tok.A_stk.tail_111__I_0_i94_3_lut_4_lut 4 5 1 #SB_LUT4
set_location tok.A_stk.tail_111__I_0_i17_3_lut_4_lut 2 2 0 #SB_LUT4
set_location tok.i547_3_lut_4_lut 11 4 0 #SB_LUT4
set_location tok.i26_3_lut_adj_143 11 6 4 #SB_LUT4
set_location tok.C_stk.tail_i0_i44 9 2 6 #SB_DFFE
set_location tok.C_stk.tail_i0_i23 11 2 2 #SB_DFFE
set_location tok.A_i1 8 10 4 #SB_DFFER
set_location tok.uart.capture_i0_i3 4 10 2 #SB_DFF
set_location tok.i1_4_lut_adj_61 8 12 6 #SB_LUT4
set_location tok.A_stk.tail_i0_i55 0 7 3 #SB_DFFE
set_location tok.A_stk.tail_i0_i105 0 6 0 #SB_DFFE
set_location i1047_4_lut_4_lut 4 2 2 #SB_LUT4
set_location tok.C_stk.n602_bdd_4_lut_4749 8 5 0 #SB_LUT4
set_location tok.A_stk.tail_i0_i86 4 6 1 #SB_DFFE
set_location tok.A_stk.tail_i0_i72 2 5 2 #SB_DFFE
set_location tok.A_stk.tail_15__I_0_i7_3_lut 4 6 7 #SB_LUT4
set_location tok.ram.i1773_3_lut 11 2 1 #SB_LUT4
set_location tok.i59_3_lut 8 4 7 #SB_LUT4
set_location tok.i1_2_lut_adj_161 7 5 3 #SB_LUT4
set_location tok.add_109_11_lut 5 9 1 #SB_LUT4
set_location tok.A__15__I_0_i10_4_lut 2 11 3 #SB_LUT4
set_location tok.uart.add_72_3_lut 1 10 1 #SB_LUT4
set_location tok.tc_7__I_0_5 9 5 3 #SB_CARRY
set_location tok.inv_106_i12_1_lut 4 8 1 #SB_LUT4
set_location tok.i3_4_lut_adj_184 8 7 2 #SB_LUT4
set_location tok.i2572_2_lut_3_lut 1 9 3 #SB_LUT4
set_location tok.i1_2_lut_adj_193 7 8 1 #SB_LUT4
set_location tok.i14_4_lut 5 7 0 #SB_LUT4
set_location tok.add_109_8_lut 5 8 6 #SB_LUT4
set_location tok.A_stk.tail_111__I_0_i90_3_lut_4_lut 0 6 1 #SB_LUT4
set_location tok.i4567_4_lut 8 4 0 #SB_LUT4
set_location tok.i4325_2_lut 7 3 4 #SB_LUT4
set_location tok.i2_4_lut_adj_166 9 10 3 #SB_LUT4
set_location tok.uart.txclkcounter_144_add_4_6_lut 1 5 4 #SB_LUT4
set_location tok.i9_4_lut_adj_111 2 8 3 #SB_LUT4
set_location tok.i25_1_lut 9 13 2 #SB_LUT4
set_location tok.A_stk.tail_i0_i24 2 5 5 #SB_DFFE
set_location tok.sub_100_add_2_3 9 11 1 #SB_CARRY
set_location tok.i8_4_lut_adj_200 4 10 3 #SB_LUT4
set_location tok.A_stk.tail_i0_i127 6 3 0 #SB_DFF
set_location tok.A_stk.tail_111__I_0_i13_3_lut_4_lut 5 2 6 #SB_LUT4
set_location tok.uart.rxclkcounter_147_add_4_2_lut 1 8 0 #SB_LUT4
set_location tok.idx_7__I_0_2 8 13 0 #SB_CARRY
set_location tok.i5_4_lut_adj_170 9 10 2 #SB_LUT4
set_location tok.i244_2_lut_3_lut_4_lut 13 11 4 #SB_LUT4
set_location tok.T_7__I_0_233_i14_2_lut_3_lut_4_lut 13 7 1 #SB_LUT4
set_location tok.A__15__I_16_i5_3_lut 8 10 0 #SB_LUT4
set_location tok.uart.txclkcounter_144_add_4_5_lut 1 5 3 #SB_LUT4
set_location tok.i2576_2_lut_3_lut 1 9 7 #SB_LUT4
set_location tok.i1_4_lut_adj_181 8 8 2 #SB_LUT4
set_location tok.A_stk.tail_i0_i6 4 6 6 #SB_DFFE
set_location tok.A_stk.tail_111__I_0_i81_3_lut_4_lut 2 3 5 #SB_LUT4
set_location tok.or_99_i11_2_lut 12 10 4 #SB_LUT4
set_location tok.i2_4_lut_adj_140 7 12 5 #SB_LUT4
set_location tok.C_stk.tail_i0_i13 12 3 0 #SB_DFFE
set_location tok.A_stk.tail_i0_i42 2 7 4 #SB_DFFE
set_location tok.A_stk.tail_111__I_0_i73_3_lut_4_lut 2 5 2 #SB_LUT4
set_location tok.tc_7__I_0_6_lut 9 5 4 #SB_LUT4
set_location tok.i2_3_lut_adj_156 9 13 4 #SB_LUT4
set_location tok.equal_123_i10_2_lut 11 8 7 #SB_LUT4
set_location tok.C_stk.tail_i0_i20 8 2 4 #SB_DFFE
set_location tok.C_stk.tail_55__I_0_i46_3_lut 12 3 5 #SB_LUT4
set_location tok.C_stk.n602_bdd_4_lut_4719 8 6 0 #SB_LUT4
set_location tok.A_stk.tail_i0_i69 5 5 2 #SB_DFFE
set_location tok.A_stk.tail_111__I_0_i84_3_lut_4_lut 5 4 7 #SB_LUT4
set_location tok.A_stk.tail_111__I_0_i106_3_lut_4_lut 0 6 0 #SB_LUT4
set_location tok.A_i4 8 10 6 #SB_DFFER
set_location tok.uart.sender_9__I_0_i8_3_lut 7 11 5 #SB_LUT4
set_location tok.uart.capture_i0_i4 2 10 6 #SB_DFF
set_location tok.sub_105_add_2_9_lut 4 11 7 #SB_LUT4
set_location tok.sub_105_add_2_16_lut 4 12 6 #SB_LUT4
set_location tok.sub_105_add_2_11_lut 4 12 1 #SB_LUT4
set_location tok.i4_4_lut_adj_117 6 9 0 #SB_LUT4
set_location tok.i10_4_lut_adj_127 7 6 3 #SB_LUT4
set_location tok.A_stk.tail_i0_i58 2 7 3 #SB_DFFE
set_location tok.A_stk.tail_i0_i100 5 6 0 #SB_DFFE
set_location tok.uart.i4355_2_lut 2 9 5 #SB_LUT4
set_location tok.sub_100_add_2_5_lut 9 11 3 #SB_LUT4
set_location tok.i2_4_lut_adj_45 12 7 7 #SB_LUT4
set_location tok.A_stk.tail_i0_i83 5 4 7 #SB_DFFE
set_location tok.A_stk.tail_i0_i71 0 7 2 #SB_DFFE
set_location tok.A_stk.tail_111__I_0_i85_3_lut_4_lut 5 6 1 #SB_LUT4
set_location tok.i5_4_lut_adj_186 8 9 6 #SB_LUT4
set_location tok.i11_4_lut 7 9 5 #SB_LUT4
set_location tok.equal_130_i14_2_lut_3_lut_4_lut 11 7 7 #SB_LUT4
set_location tok.C_stk.tail_i0_i56 6 3 4 #SB_DFF
set_location tok.uart.bytephase__i4 1 10 4 #SB_DFFESR
set_location tok.select_73_Select_0_i1_2_lut 6 9 2 #SB_LUT4
set_location tok.add_109_7_lut 5 8 5 #SB_LUT4
set_location tok.add_104_14_lut 9 9 4 #SB_LUT4
set_location tok.A_stk.tail_15__I_0_i6_3_lut 5 5 7 #SB_LUT4
set_location tok.uart.txclkcounter_144_add_4_4 1 5 2 #SB_CARRY
set_location tok.uart.i4698_4_lut 4 9 4 #SB_LUT4
set_location tok.equal_119_i10_2_lut 11 7 3 #SB_LUT4
set_location tok.add_109_14_lut 5 9 4 #SB_LUT4
set_location tok.A_stk.tail_111__I_0_i57_3_lut_4_lut 2 5 3 #SB_LUT4
set_location tok.A_stk.tail_111__I_0_i27_3_lut_4_lut 2 7 5 #SB_LUT4
set_location tok.ram.i1736_3_lut 7 2 2 #SB_LUT4
set_location tok.i1_3_lut_3_lut 11 9 6 #SB_LUT4
set_location tok.i1586_3_lut_4_lut 6 7 4 #SB_LUT4
set_location tok.C_stk.tail_55__I_0_i45_3_lut 9 2 6 #SB_LUT4
set_location tok.A_stk.tail_i0_i21 5 5 5 #SB_DFFE
set_location tok.A_stk.tail_111__I_0_i83_3_lut_4_lut 4 3 5 #SB_LUT4
set_location tok.A_stk.i567_2_lut 6 3 7 #SB_LUT4
set_location tok.ram.i1584_3_lut 12 3 1 #SB_LUT4
set_location tok.i5_1_lut_2_lut_4_lut 11 8 1 #SB_LUT4
set_location tok.idx_7__I_0_7 8 13 5 #SB_CARRY
set_location tok.A_stk.tail_111__I_0_i33_3_lut_4_lut 2 3 2 #SB_LUT4
set_location tok.A_stk.tail_111__I_0_i23_3_lut_4_lut 4 6 5 #SB_LUT4
set_location tok.uart.sender_i9 7 11 4 #SB_DFFE
set_location tok.uart.rxclkcounter_147__i3 1 8 3 #SB_DFFSR
set_location tok.i27_4_lut_adj_100 11 5 4 #SB_LUT4
set_location tok.C_stk.tail_i0_i6 11 3 5 #SB_DFFE
set_location tok.C_stk.n4882_bdd_4_lut 12 5 6 #SB_LUT4
set_location tok.A_stk.tail_i0_i39 0 7 4 #SB_DFFE
set_location tok.A_stk.tail_i0_i3 5 5 0 #SB_DFFE
set_location tok.A_stk.tail_15__I_0_i14_3_lut 4 5 7 #SB_LUT4
set_location tok.idx_i4 7 8 7 #SB_DFFR
set_location tok.add_104_2_lut 9 8 0 #SB_LUT4
set_location tok.C_stk.tail_i0_i16 11 2 1 #SB_DFFE
set_location tok.A_stk.tail_i0_i47 6 2 4 #SB_DFFE
set_location tok.A_stk.tail_i0_i117 4 4 3 #SB_DFF
set_location tok.i50_4_lut_adj_214 7 8 4 #SB_LUT4
set_location tok.A_stk.tail_111__I_0_i42_3_lut_4_lut 0 6 4 #SB_LUT4
set_location tok.A_stk.head_i0_i7 0 7 7 #SB_DFFE
set_location i1125_3_lut 9 6 4 #SB_LUT4
set_location tok.tc_7__I_0_9_lut 9 5 7 #SB_LUT4
set_location tok.add_109_5_lut 5 8 3 #SB_LUT4
set_location tok.A_stk.tail_i0_i103 0 7 0 #SB_DFFE
set_location tok.uart.txclkcounter_144__i4 1 5 4 #SB_DFFSR
set_location tok.A_stk.tail_i0_i80 2 3 5 #SB_DFFE
set_location tok.ram.i1583_4_lut 11 4 5 #SB_LUT4
set_location tok.i4599_4_lut 6 7 7 #SB_LUT4
set_location tok.i11_4_lut_adj_128 7 6 0 #SB_LUT4
set_location tok.C_stk.tail_i0_i55 11 2 6 #SB_DFFE
set_location tok.A_stk.tail_111__I_0_i89_3_lut_4_lut 2 5 1 #SB_LUT4
set_location tok.uart.bytephase__i1 1 10 1 #SB_DFFESR
set_location tok.sub_100_add_2_2_lut 7 9 1 #SB_LUT4
set_location tok.ram.i5_4_lut_adj_20 8 6 3 #SB_LUT4
set_location tok.ram.i1698_3_lut 7 2 7 #SB_LUT4
set_location tok.ram.i1658_3_lut 12 4 1 #SB_LUT4
set_location tok.i4415_4_lut 12 8 3 #SB_LUT4
set_location tok.A_stk.tail_111__I_0_i82_3_lut_4_lut 5 3 5 #SB_LUT4
set_location i1048_3_lut 6 4 5 #SB_LUT4
set_location tok.i983_3_lut 2 8 6 #SB_LUT4
set_location tok.i127_4_lut_4_lut 8 3 0 #SB_LUT4
set_location tok.A_stk.tail_111__I_0_i70_3_lut_4_lut 5 5 2 #SB_LUT4
set_location tok.A__15__I_16_i7_3_lut 7 11 3 #SB_LUT4
set_location tok.A__15__I_0_i13_4_lut 2 11 4 #SB_LUT4
set_location tok.A_stk.tail_i0_i22 4 6 5 #SB_DFFE
set_location tok.select_73_Select_11_i2_3_lut 5 12 6 #SB_LUT4
set_location tok.i3_4_lut_adj_124 8 3 2 #SB_LUT4
set_location tok.i2571_2_lut_3_lut 1 9 2 #SB_LUT4
set_location tok.add_109_17_lut 5 9 7 #SB_LUT4
set_location tok.uart.add_72_6_lut 1 10 4 #SB_LUT4
set_location tok.idx_7__I_0_4 8 13 2 #SB_CARRY
set_location tok.uart.rxclkcounter_147__i4 1 8 4 #SB_DFFSR
set_location tok.uart.rx_data_i0_i0 8 8 5 #SB_DFF
set_location tok.C_stk.tail_i0_i3 12 4 1 #SB_DFFE
set_location i1072_3_lut 4 10 4 #SB_LUT4
set_location tok.idx_i3 7 13 7 #SB_DFFR
set_location tok.i6_4_lut_adj_153 6 5 4 #SB_LUT4
set_location tok.i2_4_lut_adj_196 7 4 5 #SB_LUT4
set_location tok.C_stk.tail_i0_i15 9 2 2 #SB_DFFE
set_location tok.A_stk.tail_i0_i44 5 2 4 #SB_DFFE
set_location tok.A_stk.tail_i0_i114 4 4 6 #SB_DFF
set_location tok.A_stk.head_i0_i0 2 3 7 #SB_DFFE
set_location tok.uart.sender_i10 1 7 5 #SB_DFFESS
set_location tok.ram.i4654_4_lut 11 6 0 #SB_LUT4
set_location tok.C_stk.n4906_bdd_4_lut 8 5 1 #SB_LUT4
set_location tok.uart.txclkcounter_144__i7 1 5 7 #SB_DFFSR
set_location tok.uart.sentbits_146__i1 4 9 7 #SB_DFFESR
set_location tok.sub_105_add_2_17_lut 4 13 0 #SB_LUT4
set_location tok.ram.i4650_4_lut 12 5 2 #SB_LUT4
set_location tok.C_stk.tail_i0_i50 7 2 7 #SB_DFFE
set_location tok.A_stk.tail_111__I_0_i92_3_lut_4_lut 1 4 1 #SB_LUT4
set_location tok.uart.i1_2_lut_3_lut 4 9 5 #SB_LUT4
set_location tok.uart.bytephase__i2 1 10 2 #SB_DFFESR
set_location tok.ram.i5_4_lut_adj_25 8 5 3 #SB_LUT4
set_location tok.C_stk.tail_i0_i39 11 2 4 #SB_DFFE
set_location tok.uart.txclkcounter_144_add_4_2 1 5 0 #SB_CARRY
set_location tok.i1_2_lut_2_lut 9 11 0 #SB_LUT4
set_location tok.add_104_8 9 8 6 #SB_CARRY
set_location tok.A_stk.tail_111__I_0_i99_3_lut_4_lut 4 3 6 #SB_LUT4
set_location tok.ram.i2_4_lut_4_lut 12 7 3 #SB_LUT4
set_location tok.ram.i1546_4_lut 11 4 4 #SB_LUT4
set_location tok.i1_4_lut_adj_114 2 8 4 #SB_LUT4
set_location tok.i1_4_lut_adj_190 5 7 2 #SB_LUT4
set_location tok.i4417_4_lut_4_lut 11 9 0 #SB_LUT4
set_location tok.i2564_3_lut_4_lut 8 9 5 #SB_LUT4
set_location tok.i1_4_lut_4_lut 7 4 4 #SB_LUT4
set_location tok.uart.rxclkcounter_147_add_4_6 1 8 4 #SB_CARRY
set_location tok.uart.rx_data_i0_i7 6 6 6 #SB_DFF
set_location tok.uart.add_72_6 1 10 4 #SB_CARRY
set_location tok.ram.i1772_3_lut 9 2 7 #SB_LUT4
set_location tok.or_101_i13_2_lut 2 12 5 #SB_LUT4
set_location tok.i125_4_lut_adj_72 6 5 0 #SB_LUT4
set_location tok.C_stk.tail_i0_i0 9 2 3 #SB_DFFE
set_location tok.A_stk.tail_i0_i9 0 6 6 #SB_DFFE
set_location tok.A_i11 6 10 5 #SB_DFFER
set_location tok.uart.i6_4_lut_adj_28 1 9 4 #SB_LUT4
set_location tok.ram.i1587_3_lut 12 3 6 #SB_LUT4
set_location tok.add_109_12_lut 5 9 2 #SB_LUT4
set_location tok.C_stk.tail_i0_i18 9 2 1 #SB_DFFE
set_location tok.A_stk.tail_i0_i49 5 3 3 #SB_DFFE
set_location tok.A_stk.tail_i0_i111 6 2 0 #SB_DFFE
set_location tok.inv_106_i6_1_lut 6 12 6 #SB_LUT4
set_location tok.C_stk.n602_bdd_4_lut_4739 9 3 3 #SB_LUT4
set_location tok.A_stk.tail_i0_i60 5 2 3 #SB_DFFE
set_location tok.A_stk.head_i0_i15 6 2 1 #SB_DFFE
set_location tok.A__15__I_16_i2_3_lut 7 10 4 #SB_LUT4
set_location tok.uart.i3806_2_lut 4 9 7 #SB_LUT4
set_location tok.i4_3_lut 8 8 3 #SB_LUT4
set_location tok.i125_4_lut_adj_98 11 5 2 #SB_LUT4
set_location tok.A_stk.tail_i0_i109 4 5 0 #SB_DFFE
set_location tok.A_stk.tail_111__I_0_i11_3_lut_4_lut 2 7 6 #SB_LUT4
set_location tok.uart.txclkcounter_144__i2 1 5 2 #SB_DFFSR
set_location tok.i2_4_lut_adj_173 6 4 7 #SB_LUT4
set_location tok.i15_4_lut_adj_178 4 7 5 #SB_LUT4
set_location tok.C_stk.n602_bdd_4_lut_4724 12 6 0 #SB_LUT4
set_location tok.A_stk.tail_111__I_0_i96_3_lut_4_lut 6 2 7 #SB_LUT4
set_location tok.A_stk.tail_111__I_0_i3_3_lut_4_lut 4 3 2 #SB_LUT4
set_location tok.i4585_2_lut_3_lut 13 6 3 #SB_LUT4
set_location tok.i2573_2_lut_3_lut 2 6 6 #SB_LUT4
set_location tok.i10_4_lut_adj_68 7 12 2 #SB_LUT4
set_location tok.C_stk.tail_55__I_0_i44_3_lut 12 4 5 #SB_LUT4
set_location tok.A_stk.tail_111__I_0_i34_3_lut_4_lut 5 3 2 #SB_LUT4
set_location tok.ram.i5_4_lut_adj_26 9 4 4 #SB_LUT4
set_location tok.i1_4_lut_adj_133 8 4 4 #SB_LUT4
set_location tok.C_stk.tail_i0_i34 8 2 1 #SB_DFFE
set_location tok.A_stk.tail_111__I_0_i15_3_lut_4_lut 2 4 6 #SB_LUT4
set_location tok.A_stk.tail_111__I_0_i10_3_lut_4_lut 0 6 6 #SB_LUT4
set_location tok.tc_7__I_0_7_lut 9 5 5 #SB_LUT4
set_location tok.A_stk.tail_111__I_0_i31_3_lut_4_lut 2 4 5 #SB_LUT4
set_location tok.ram.i1_3_lut 12 9 6 #SB_LUT4
set_location tok.i1_2_lut_adj_150 12 7 6 #SB_LUT4
set_location tok.A_stk.tail_i0_i28 5 2 5 #SB_DFFE
set_location tok.A_stk.tail_111__I_0_i49_3_lut_4_lut 2 3 3 #SB_LUT4
set_location i1080_3_lut 8 4 5 #SB_LUT4
set_location tok.i5_4_lut_adj_70 5 7 5 #SB_LUT4
set_location tok.i4673_4_lut 5 10 3 #SB_LUT4
set_location tok.depth_i0 7 8 0 #SB_DFFR
set_location tok.A_stk.tail_i0_i19 5 5 1 #SB_DFFE
set_location tok.ram.i1696_3_lut 8 2 1 #SB_LUT4
set_location tok.A_i12 6 10 2 #SB_DFFER
set_location tok.tc_i6 9 6 1 #SB_DFFS
set_location tok.ram.i1620_4_lut 11 4 6 #SB_LUT4
set_location tok.A_stk.tail_111__I_0_i36_3_lut_4_lut 5 4 1 #SB_LUT4
set_location tok.sub_105_add_2_12_lut 4 12 2 #SB_LUT4
set_location tok.ram.i1662_3_lut 12 4 2 #SB_LUT4
set_location tok.keys.mem0 3 7 0 #SB_RAM40_4K
set_location tok.i1_4_lut_adj_93 12 5 5 #SB_LUT4
set_location tok.add_109_10 5 9 0 #SB_CARRY
set_location tok.C_stk.n602_bdd_4_lut_4734 12 5 0 #SB_LUT4
set_location tok.A_stk.tail_i0_i65 5 3 4 #SB_DFFE
set_location tok.A_stk.head_i0_i10 2 7 7 #SB_DFFE
set_location tok.i2510_2_lut_3_lut_4_lut 7 3 2 #SB_LUT4
set_location tok.i1_4_lut_4_lut_adj_155 6 4 2 #SB_LUT4
set_location tok.C_stk.head_i0_i5 11 5 1 #SB_DFF
set_location tok.A_stk.tail_111__I_0_i56_3_lut_4_lut 0 7 3 #SB_LUT4
set_location tok.A_i9 6 10 0 #SB_DFFER
set_location i1073_3_lut 4 10 6 #SB_LUT4
set_location tok.ram.i1699_3_lut 9 2 1 #SB_LUT4
set_location tok.i7_4_lut_adj_62 12 9 4 #SB_LUT4
set_location tok.equal_142_i15_2_lut 6 8 5 #SB_LUT4
set_location tok.A_stk.tail_111__I_0_i41_3_lut_4_lut 2 5 4 #SB_LUT4
set_location tok.uart.txclkcounter_144_add_4_3_lut 1 5 1 #SB_LUT4
set_location tok.i1_4_lut_adj_71 9 3 2 #SB_LUT4
set_location tok.C_stk.tail_i0_i37 12 3 4 #SB_DFFE
set_location tok.A_stk.tail_111__I_0_i86_3_lut_4_lut 5 4 6 #SB_LUT4
set_location tok.uart.txclkcounter_144_add_4_8 1 5 6 #SB_CARRY
set_location tok.ram.i1768_4_lut 6 3 4 #SB_LUT4
set_location tok.i7_4_lut_adj_54 7 9 3 #SB_LUT4
set_location tok.i4678_4_lut_4_lut 8 11 7 #SB_LUT4
set_location tok.i4632_2_lut_3_lut 12 7 2 #SB_LUT4
set_location tok.i1_4_lut_adj_57 5 11 0 #SB_LUT4
set_location tok.add_104_2 9 8 0 #SB_CARRY
set_location tok.uart.i3820_3_lut_4_lut 2 9 1 #SB_LUT4
set_location tok.i991_3_lut 8 10 6 #SB_LUT4
set_location tok.i2458_2_lut 12 9 5 #SB_LUT4
set_location tok.A_stk.tail_i0_i94 2 4 1 #SB_DFFE
set_location tok.A_stk.tail_111__I_0_i4_3_lut_4_lut 5 5 0 #SB_LUT4
set_location tok.i2580_3_lut 6 7 2 #SB_LUT4
set_location tok.i985_3_lut 8 10 5 #SB_LUT4
set_location tok.i7_4_lut_adj_41 2 11 2 #SB_LUT4
set_location tok.i5_4_lut 6 12 5 #SB_LUT4
set_location tok.depth_i3 7 4 0 #SB_DFFR
set_location tok.A_stk.tail_i0_i14 2 4 6 #SB_DFFE
set_location tok.A_stk.tail_111__I_0_i37_3_lut_4_lut 5 6 4 #SB_LUT4
set_location tok.ram.i1769_3_lut 9 2 3 #SB_LUT4
set_location tok.i9_4_lut_adj_96 5 10 2 #SB_LUT4
set_location tok.i1_4_lut_adj_35 8 12 2 #SB_LUT4
set_location tok.uart.sender_i2 4 10 7 #SB_DFF
set_location tok.tc_i5 9 6 2 #SB_DFFS
set_location tok.i6_4_lut_adj_120 9 10 5 #SB_LUT4
set_location tok.i50_4_lut_adj_43 7 13 1 #SB_LUT4
set_location tok.add_104_12 9 9 2 #SB_CARRY
set_location tok.A_stk.tail_i0_i32 2 3 2 #SB_DFFE
set_location tok.A_stk.tail_111__I_0_i77_3_lut_4_lut 5 2 2 #SB_LUT4
set_location i1099_4_lut_4_lut 2 6 4 #SB_LUT4
set_location tok.sub_100_add_2_4_lut 9 11 2 #SB_LUT4
set_location tok.add_109_13_lut 5 9 3 #SB_LUT4
set_location tok.add_104_12_lut 9 9 2 #SB_LUT4
set_location tok.add_104_11_lut 9 9 1 #SB_LUT4
set_location tok.A_stk.tail_i0_i66 4 3 4 #SB_DFFE
set_location tok.A_stk.tail_111__I_0_i43_3_lut_4_lut 2 7 4 #SB_LUT4
set_location tok.A_stk.head_i0_i13 4 5 7 #SB_DFFE
set_location tok.ram.i1621_3_lut 9 2 5 #SB_LUT4
set_location tok.i9_4_lut_adj_59 5 11 2 #SB_LUT4
set_location tok.i3_4_lut_adj_168 9 10 1 #SB_LUT4
set_location tok.C_stk.tail_i0_i41 7 2 5 #SB_DFFE
set_location tok.C_stk.tail_i0_i28 8 2 6 #SB_DFFE
set_location tok.C_stk.head_i0_i2 12 6 1 #SB_DFF
set_location tok.A_stk.tail_111__I_0_i5_3_lut_4_lut 5 6 6 #SB_LUT4
set_location tok.A__15__I_0_i8_3_lut 1 7 5 #SB_LUT4
set_location tok.uart.txclkcounter_144__i8 1 6 0 #SB_DFFSR
set_location tok.ram.i1624_3_lut 11 3 6 #SB_LUT4
set_location tok.i1_2_lut_4_lut_adj_154 11 8 5 #SB_LUT4
set_location tok.A_stk.tail_i0_i50 4 3 3 #SB_DFFE
set_location tok.A_stk.tail_111__I_0_i112_3_lut_4_lut 6 2 0 #SB_LUT4
set_location tok.A__15__I_16_i3_3_lut 7 8 3 #SB_LUT4
set_location tok.ram.i1695_3_lut 12 4 7 #SB_LUT4
set_location tok.i50_3_lut 2 11 1 #SB_LUT4
set_location tok.C_stk.tail_i0_i59 11 4 7 #SB_DFF
set_location tok.i4672_4_lut 5 11 3 #SB_LUT4
set_location tok.C_stk.tail_i0_i32 8 2 5 #SB_DFFE
set_location tok.tc_7__I_0_2 9 5 0 #SB_CARRY
set_location tok.add_109_4 5 8 2 #SB_CARRY
set_location tok.add_104_7 9 8 5 #SB_CARRY
set_location i1063_3_lut 6 6 6 #SB_LUT4
set_location tok.sub_100_add_2_3_lut 9 11 1 #SB_LUT4
set_location tok.A_stk.tail_i0_i97 5 3 6 #SB_DFFE
set_location tok.uart.i24_4_lut_4_lut 2 10 2 #SB_LUT4
set_location tok.A_stk.tail_15__I_0_i4_3_lut 5 4 3 #SB_LUT4
set_location tok.A_stk.tail_111__I_0_i75_3_lut_4_lut 2 7 2 #SB_LUT4
set_location tok.sub_105_add_2_10 4 12 0 #SB_CARRY
set_location tok.i9_4_lut_adj_180 8 8 1 #SB_LUT4
set_location tok.add_104_9_lut 9 8 7 #SB_LUT4
set_location tok.A_stk.tail_i0_i17 5 3 0 #SB_DFFE
set_location tok.A_stk.tail_i0_i122 2 6 2 #SB_DFF
set_location tok.or_99_i9_2_lut 8 12 1 #SB_LUT4
set_location tok.i4_4_lut_adj_199 7 8 2 #SB_LUT4
set_location tok.i1_4_lut_adj_38 9 7 1 #SB_LUT4
set_location tok.i1_4_lut_adj_179 9 7 7 #SB_LUT4
set_location tok.i1_4_lut 9 7 4 #SB_LUT4
set_location tok.i1734_3_lut_4_lut 4 8 7 #SB_LUT4
set_location tok.A_stk.tail_111__I_0_i61_3_lut_4_lut 5 2 3 #SB_LUT4
set_location tok.A_stk.tail_111__I_0_i59_3_lut_4_lut 2 7 3 #SB_LUT4
set_location i1112_4_lut_4_lut 6 3 0 #SB_LUT4
set_location tok.uart.sender_i1 5 13 4 #SB_DFFESS
set_location tok.tc_i0 9 6 7 #SB_DFFS
set_location tok.sub_105_add_2_7 4 11 5 #SB_CARRY
set_location tok.sub_105_add_2_15_lut 4 12 5 #SB_LUT4
set_location tok.i1_4_lut_adj_215 7 13 7 #SB_LUT4
set_location tok.i1_2_lut_adj_102 9 10 6 #SB_LUT4
set_location tok.add_104_11 9 9 1 #SB_CARRY
set_location tok.C_stk.n4900_bdd_4_lut 11 5 1 #SB_LUT4
set_location tok.A_stk.tail_i0_i31 6 2 5 #SB_DFFE
set_location tok.A_stk.tail_i0_i118 2 6 7 #SB_DFF
set_location tok.i3_4_lut_adj_42 12 11 6 #SB_LUT4
set_location tok.vals.mem1 3 9 0 #SB_RAM40_4K
set_location tok.i26_3_lut_adj_141 11 6 6 #SB_LUT4
set_location tok.C_stk.tail_i0_i42 8 2 3 #SB_DFFE
set_location tok.C_stk.tail_i0_i25 7 2 3 #SB_DFFE
set_location tok.A_i3 7 7 1 #SB_DFFER
set_location i1059_4_lut_4_lut 4 4 7 #SB_LUT4
set_location tok.uart.capture_i0_i1 8 7 6 #SB_DFF
set_location tok.i4_4_lut_adj_112 4 9 0 #SB_LUT4
set_location tok.A_stk.tail_i0_i53 5 5 3 #SB_DFFE
set_location tok.uart.i1014_2_lut 1 7 1 #SB_LUT4
set_location tok.C_stk.tail_55__I_0_i30_3_lut 12 3 3 #SB_LUT4
set_location tok.A_stk.tail_i0_i74 2 7 2 #SB_DFFE
set_location tok.A_stk.tail_111__I_0_i66_3_lut_4_lut 5 3 4 #SB_LUT4
set_location tok.tc_7__I_0_7 9 5 5 #SB_CARRY
set_location tok.sub_105_add_2_7_lut 4 11 5 #SB_LUT4
set_location tok.i4329_2_lut_3_lut 11 11 7 #SB_LUT4
set_location tok.i27_4_lut 9 3 1 #SB_LUT4
set_location tok.i1_2_lut_adj_37 9 7 0 #SB_LUT4
set_location tok.add_109_3 5 8 1 #SB_CARRY
set_location tok.add_104_4 9 8 2 #SB_CARRY
set_location tok.A_stk.tail_111__I_0_i111_3_lut_4_lut 2 4 0 #SB_LUT4
set_location tok.uart.i1_2_lut_adj_29 2 9 7 #SB_LUT4
set_location tok.select_73_Select_14_i9_2_lut 6 11 7 #SB_LUT4
set_location tok.ram.i1694_4_lut 6 3 2 #SB_LUT4
set_location tok.i2462_2_lut 9 13 7 #SB_LUT4
set_location tok.i1660_3_lut_4_lut 5 12 0 #SB_LUT4
set_location tok.A_stk.tail_i0_i92 5 2 1 #SB_DFFE
set_location tok.A_stk.tail_111__I_0_i24_3_lut_4_lut 0 7 5 #SB_LUT4
set_location i1065_3_lut 4 10 1 #SB_LUT4
set_location tok.uart.txclkcounter_144_add_4_4_lut 1 5 2 #SB_LUT4
set_location tok.sub_105_add_2_3_lut 4 11 1 #SB_LUT4
set_location tok.inv_106_i2_1_lut 6 8 3 #SB_LUT4
set_location tok.i4607_4_lut 2 11 0 #SB_LUT4
set_location tok.C_stk.tail_i0_i61 11 4 5 #SB_DFF
set_location tok.A__15__I_0_i15_4_lut 2 11 5 #SB_LUT4
set_location tok.sub_105_add_2_15 4 12 5 #SB_CARRY
set_location tok.sub_100_add_2_5 9 11 3 #SB_CARRY
set_location tok.ram.i1509_4_lut 11 4 3 #SB_LUT4
set_location tok.A_stk.tail_i0_i121 2 6 3 #SB_DFF
set_location tok.A_stk.tail_i0_i12 5 2 6 #SB_DFFE
set_location tok.uart.sender_9__I_0_i7_3_lut 7 11 6 #SB_LUT4
set_location tok.ram.i1511_3_lut 11 2 4 #SB_LUT4
set_location tok.uart.sender_i4 7 10 5 #SB_DFFE
set_location tok.ram.i1735_3_lut 7 2 6 #SB_LUT4
set_location tok.i964_3_lut 8 10 4 #SB_LUT4
set_location tok.add_104_4_lut 9 8 2 #SB_LUT4
set_location tok.A_stk.tail_i0_i4 5 6 6 #SB_DFFE
set_location tok.A_stk.tail_i0_i34 4 3 1 #SB_DFFE
set_location tok.A__15__I_16_i1_3_lut 7 9 6 #SB_LUT4
set_location tok.i4403_3_lut_4_lut 11 7 6 #SB_LUT4
set_location tok.i2_4_lut_adj_58 5 11 1 #SB_LUT4
set_location tok.i27_4_lut_adj_78 12 6 4 #SB_LUT4
set_location tok.add_104_7_lut 9 8 5 #SB_LUT4
set_location i1071_3_lut 1 9 6 #SB_LUT4
set_location tok.select_73_Select_11_i9_2_lut 8 12 0 #SB_LUT4
set_location tok.ram.i4637_4_lut 9 4 3 #SB_LUT4
set_location tok.i5_3_lut_adj_177 5 11 5 #SB_LUT4
set_location tok.C_stk.tail_i0_i47 11 2 5 #SB_DFFE
set_location tok.C_stk.tail_i0_i22 11 3 2 #SB_DFFE
set_location tok.A_i6 7 12 4 #SB_DFFER
set_location tok.uart.capture_i0_i2 8 4 5 #SB_DFF
set_location tok.select_73_Select_13_i2_3_lut 9 12 7 #SB_LUT4
set_location tok.i2_2_lut 8 3 3 #SB_LUT4
set_location tok.i1_2_lut_4_lut_adj_152 12 10 7 #SB_LUT4
set_location tok.i10_4_lut_adj_121 7 11 1 #SB_LUT4
set_location tok.A_stk.tail_i0_i56 2 5 3 #SB_DFFE
set_location tok.A_stk.tail_i0_i106 2 7 0 #SB_DFFE
set_location tok.A_stk.tail_i0_i85 5 4 6 #SB_DFFE
set_location tok.A_stk.tail_i0_i73 0 6 2 #SB_DFFE
set_location tok.uart.i6_4_lut 1 7 0 #SB_LUT4
set_location tok.ram.i1770_3_lut 8 2 5 #SB_LUT4
set_location tok.i3_4_lut_adj_157 9 13 5 #SB_LUT4
set_location tok.A_stk.tail_111__I_0_i109_3_lut_4_lut 5 2 0 #SB_LUT4
set_location tok.tc_7__I_0_4 9 5 2 #SB_CARRY
set_location tok.i993_3_lut 7 7 1 #SB_LUT4
set_location tok.i1_4_lut_4_lut_adj_172 11 11 5 #SB_LUT4
set_location tok.C_stk.n602_bdd_4_lut 9 4 0 #SB_LUT4
set_location tok.A_stk.tail_111__I_0_i100_3_lut_4_lut 5 4 0 #SB_LUT4
set_location tok.i4671_4_lut 6 11 6 #SB_LUT4
set_location tok.i2_4_lut_adj_79 6 11 4 #SB_LUT4
set_location tok.i58_4_lut 8 4 1 #SB_LUT4
set_location tok.i1_3_lut 5 12 4 #SB_LUT4
set_location tok.A_stk.tail_i0_i27 1 4 5 #SB_DFFE
set_location tok.A_stk.tail_111__I_0_i98_3_lut_4_lut 5 3 6 #SB_LUT4
set_location tok.sub_105_add_2_16 4 12 6 #SB_CARRY
set_location tok.sub_100_add_2_2 9 11 0 #SB_CARRY
set_location tok.i7_4_lut_adj_48 6 9 5 #SB_LUT4
set_location tok.add_109_2_lut 5 8 0 #SB_LUT4
set_location tok.A_stk.tail_i0_i124 4 2 2 #SB_DFF
set_location i1113_3_lut 9 6 0 #SB_LUT4
set_location tok.i1_2_lut_adj_130 12 7 5 #SB_LUT4
set_location tok.add_104_16_lut 9 9 6 #SB_LUT4
set_location tok.A__15__I_0_i9_4_lut 6 10 0 #SB_LUT4
set_location tok.uart.rxclkcounter_147__i1 1 8 1 #SB_DFFSR
set_location tok.i4631_2_lut_3_lut 6 5 1 #SB_LUT4
set_location tok.A_stk.tail_i0_i1 5 3 1 #SB_DFFE
set_location tok.A_stk.tail_111__I_0_i63_3_lut_4_lut 2 4 3 #SB_LUT4
set_location tok.idx_i6 9 7 4 #SB_DFFR
set_location tok.i9_4_lut_adj_86 4 7 4 #SB_LUT4
set_location tok.C_stk.tail_i0_i10 11 3 7 #SB_DFFE
set_location tok.C_stk.n4876_bdd_4_lut 12 6 1 #SB_LUT4
set_location tok.A_stk.tail_i0_i41 0 6 4 #SB_DFFE
set_location tok.uart.i2_2_lut_3_lut 2 10 0 #SB_LUT4
set_location tok.inv_106_i10_1_lut 6 7 1 #SB_LUT4
set_location tok.i50_4_lut_adj_212 7 13 4 #SB_LUT4
set_location tok.i18_4_lut 8 6 4 #SB_LUT4
set_location tok.C_stk.n4894_bdd_4_lut 9 3 4 #SB_LUT4
set_location tok.A_stk.tail_i0_i68 5 6 2 #SB_DFFE
set_location tok.A_stk.head_i0_i5 5 5 7 #SB_DFFE
set_location tok.A_i5 8 10 2 #SB_DFFER
set_location tok.uart.capture_i0_i7 4 10 4 #SB_DFF
set_location tok.inv_106_i16_1_lut 4 13 3 #SB_LUT4
set_location tok.i125_4_lut_adj_90 13 7 3 #SB_LUT4
set_location tok.i11_4_lut_adj_85 5 7 4 #SB_LUT4
set_location tok.A_stk.tail_i0_i59 1 4 3 #SB_DFFE
set_location tok.A_stk.tail_i0_i101 5 4 5 #SB_DFFE
set_location tok.uart.rxclkcounter_147_add_4_7_lut 1 8 5 #SB_LUT4
set_location tok.ram.i1622_3_lut 8 2 2 #SB_LUT4
set_location tok.ram.i1548_3_lut 11 3 1 #SB_LUT4
set_location tok.A_stk.tail_i0_i82 4 3 5 #SB_DFFE
set_location tok.A_stk.tail_111__I_0_i55_3_lut_4_lut 4 6 3 #SB_LUT4
set_location tok.uart.i3813_2_lut_3_lut 2 9 2 #SB_LUT4
set_location tok.select_73_Select_7_i2_2_lut 2 8 0 #SB_LUT4
set_location tok.ram.i1513_3_lut 11 2 6 #SB_LUT4
set_location tok.i1_2_lut_4_lut 7 4 3 #SB_LUT4
set_location tok.C_stk.tail_i0_i57 6 3 3 #SB_DFF
set_location tok.tc_7__I_0_5_lut 9 5 3 #SB_LUT4
set_location tok.i5_4_lut_adj_203 4 10 0 #SB_LUT4
set_location tok.i4371_2_lut 6 10 7 #SB_LUT4
set_location tok.i2_4_lut_adj_107 2 8 1 #SB_LUT4
set_location tok.i2_3_lut_adj_192 7 5 7 #SB_LUT4
set_location tok.i2655_2_lut 9 7 3 #SB_LUT4
set_location tok.A_stk.tail_111__I_0_i18_3_lut_4_lut 5 3 0 #SB_LUT4
set_location tok.uart.txclkcounter_144_add_4_7 1 5 5 #SB_CARRY
set_location tok.uart.i1_3_lut 2 9 4 #SB_LUT4
set_location tok.i4364_2_lut 6 4 4 #SB_LUT4
set_location tok.i10_4_lut 7 9 4 #SB_LUT4
set_location tok.A_stk.tail_i0_i98 4 3 6 #SB_DFFE
set_location tok.i7_4_lut_adj_176 8 8 0 #SB_LUT4
set_location tok.i5_4_lut_adj_49 2 12 3 #SB_LUT4
set_location tok.add_104_10_lut 9 9 0 #SB_LUT4
set_location tok.A_stk.tail_i0_i20 5 6 5 #SB_DFFE
set_location tok.A_stk.tail_111__I_0_i16_3_lut_4_lut 6 2 6 #SB_LUT4
set_location i1106_4_lut_4_lut 4 10 7 #SB_LUT4
set_location i1055_4_lut_4_lut 4 4 4 #SB_LUT4
set_location tok.sub_105_add_2_14_lut 4 12 4 #SB_LUT4
set_location tok.i1_3_lut_4_lut_adj_165 8 11 3 #SB_LUT4
set_location tok.equal_119_i11_2_lut_4_lut 11 8 0 #SB_LUT4
set_location tok.ram.i1733_3_lut 7 2 4 #SB_LUT4
set_location tok.idx_7__I_0_6 8 13 4 #SB_CARRY
set_location tok.i26_3_lut_adj_139 11 6 7 #SB_LUT4
set_location tok.i1_4_lut_adj_101 11 6 1 #SB_LUT4
set_location i1126_3_lut 9 6 5 #SB_LUT4
set_location tok.uart.rxclkcounter_147__i2 1 8 2 #SB_DFFSR
set_location tok.uart.rx_data_i0_i2 4 4 5 #SB_DFF
set_location tok.uart.add_72_3 1 10 1 #SB_CARRY
set_location tok.C_stk.tail_i0_i5 12 3 1 #SB_DFFE
set_location tok.A_stk.tail_i0_i2 4 3 2 #SB_DFFE
set_location tok.A_stk.tail_111__I_0_i7_3_lut_4_lut 4 6 6 #SB_LUT4
set_location tok.ram.i4658_4_lut 12 6 2 #SB_LUT4
set_location tok.idx_i5 6 13 6 #SB_DFFR
set_location tok.i1771_3_lut_4_lut 8 9 3 #SB_LUT4
set_location tok.C_stk.tail_i0_i17 7 2 2 #SB_DFFE
set_location tok.A_stk.tail_i0_i46 2 4 4 #SB_DFFE
set_location tok.A_stk.tail_i0_i116 4 4 4 #SB_DFF
set_location tok.A_stk.tail_111__I_0_i88_3_lut_4_lut 0 7 1 #SB_LUT4
set_location tok.add_109_15_lut 5 9 5 #SB_LUT4
set_location tok.A_stk.head_i0_i6 4 6 7 #SB_DFFE
set_location tok.i4335_3_lut_4_lut_4_lut 12 10 6 #SB_LUT4
set_location tok.i1_4_lut_adj_163 8 10 1 #SB_LUT4
set_location tok.i18_4_lut_adj_87 12 7 0 #SB_LUT4
set_location tok.A_stk.tail_111__I_0_i8_3_lut_4_lut 0 7 6 #SB_LUT4
set_location tok.uart.txclkcounter_144__i5 1 5 5 #SB_DFFSR
set_location tok.i568_2_lut_4_lut 7 3 3 #SB_LUT4
set_location tok.i4413_4_lut_4_lut 11 9 4 #SB_LUT4
set_location tok.C_stk.n602_bdd_4_lut_4729 11 5 5 #SB_LUT4
set_location tok.A_stk.tail_111__I_0_i45_3_lut_4_lut 5 2 4 #SB_LUT4
set_location i1052_4_lut_4_lut 4 4 3 #SB_LUT4
set_location tok.idx_7__I_0_8_lut 8 13 6 #SB_LUT4
set_location tok.i12_4_lut_adj_126 7 6 4 #SB_LUT4
set_location tok.C_stk.tail_i0_i52 11 3 6 #SB_DFFE
set_location tok.uart.bytephase__i0 1 10 0 #SB_DFFESR
set_location tok.ram.i5_4_lut_adj_23 12 5 3 #SB_LUT4
set_location tok.i3_4_lut_adj_183 8 7 1 #SB_LUT4
set_location tok.add_109_8 5 8 6 #SB_CARRY
set_location tok.A_stk.tail_111__I_0_i103_3_lut_4_lut 4 6 0 #SB_LUT4
set_location tok.inv_106_i14_1_lut 5 12 2 #SB_LUT4
set_location tok.i2_4_lut_adj_205 7 6 5 #SB_LUT4
set_location tok.A_stk.tail_111__I_0_i14_3_lut_4_lut 4 5 6 #SB_LUT4
set_location tok.equal_121_i11_2_lut_4_lut 11 8 4 #SB_LUT4
set_location tok.C_stk.i545_2_lut 11 4 1 #SB_LUT4
set_location tok.select_73_Select_13_i3_2_lut 11 11 4 #SB_LUT4
set_location tok.search_clk_I_0_1_lut 7 8 5 #SB_LUT4
set_location tok.A_stk.tail_15__I_0_i3_3_lut 4 3 7 #SB_LUT4
set_location tok.A__15__I_0_i16_4_lut 6 10 1 #SB_LUT4
set_location tok.uart.rxclkcounter_147_add_4_5_lut 1 8 3 #SB_LUT4
set_location tok.i4_4_lut_adj_195 7 5 5 #SB_LUT4
set_location tok.C_stk.tail_55__I_0_i12_3_lut 12 4 0 #SB_LUT4
set_location tok.uart.rxclkcounter_147_add_4_4 1 8 2 #SB_CARRY
set_location tok.uart.rx_data_i0_i1 8 7 3 #SB_DFF
set_location tok.i2651_4_lut 11 9 7 #SB_LUT4
set_location tok.i1_4_lut_adj_219 6 13 6 #SB_LUT4
set_location tok.C_stk.tail_i0_i2 12 4 7 #SB_DFFE
set_location tok.A_stk.tail_111__I_0_i39_3_lut_4_lut 4 6 4 #SB_LUT4
set_location tok.A__15__I_0_i14_4_lut 7 12 3 #SB_LUT4
set_location tok.uart.sender_9__I_0_i4_3_lut 7 10 5 #SB_LUT4
set_location tok.sub_105_add_2_8 4 11 6 #SB_CARRY
set_location tok.idx_i0 7 13 6 #SB_DFFR
set_location tok.A_stk.tail_i0_i113 6 3 5 #SB_DFF
set_location tok.A_stk.tail_111__I_0_i51_3_lut_4_lut 4 3 3 #SB_LUT4
set_location i1091_4_lut_4_lut 2 6 2 #SB_LUT4
set_location tok.ram.i4666_4_lut 9 3 5 #SB_LUT4
set_location tok.i6_4_lut 8 11 1 #SB_LUT4
set_location tok.i50_4_lut_adj_218 9 13 1 #SB_LUT4
set_location tok.add_109_15 5 9 5 #SB_CARRY
set_location tok.A_stk.head_i0_i3 5 4 3 #SB_DFFE
set_location tok.uart.txclkcounter_144_add_4_7_lut 1 5 5 #SB_LUT4
set_location tok.ram.i1731_4_lut 6 3 3 #SB_LUT4
set_location tok.i3_4_lut_adj_160 9 13 6 #SB_LUT4
set_location tok.C_stk.tail_i0_i49 7 2 6 #SB_DFFE
set_location tok.A_stk.tail_111__I_0_i107_3_lut_4_lut 2 7 0 #SB_LUT4
set_location i25_3_lut 9 6 7 #SB_LUT4
set_location tok.uart.txclkcounter_144__i0 1 5 0 #SB_DFFSS
set_location tok.uart.sentbits_146__i2 2 9 2 #SB_DFFESR
set_location tok.C_stk.n4888_bdd_4_lut 12 5 1 #SB_LUT4
set_location tok.A_stk.tail_i0_i78 2 4 2 #SB_DFFE
set_location tok.A_stk.tail_111__I_0_i29_3_lut_4_lut 5 2 5 #SB_LUT4
set_location i1064_3_lut 4 10 5 #SB_LUT4
set_location tok.C_stk.tail_i0_i51 12 4 6 #SB_DFFE
set_location tok.A_stk.tail_111__I_0_i44_3_lut_4_lut 1 4 4 #SB_LUT4
set_location tok.ram.i5_4_lut_adj_24 11 5 7 #SB_LUT4
set_location tok.ram.i4645_4_lut 11 5 6 #SB_LUT4
set_location tok.i1_4_lut_adj_74 8 6 5 #SB_LUT4
set_location i1068_3_lut 4 4 5 #SB_LUT4
set_location tok.ram.i2581_4_lut 12 7 4 #SB_LUT4
set_location tok.i9_4_lut 8 12 3 #SB_LUT4
set_location tok.i49_4_lut 8 3 5 #SB_LUT4
set_location tok.i27_4_lut_adj_92 12 5 4 #SB_LUT4
set_location tok.i1_2_lut_3_lut_adj_73 8 4 6 #SB_LUT4
set_location tok.sub_100_add_2_9 9 11 7 #SB_CARRY
set_location tok.uart.rxclkcounter_147_add_4_7 1 8 5 #SB_CARRY
set_location tok.uart.rx_data_i0_i4 9 13 3 #SB_DFF
set_location tok.uart.add_72_5 1 10 3 #SB_CARRY
set_location tok.i1_4_lut_adj_171 7 10 0 #SB_LUT4
set_location tok.i125_4_lut_adj_75 12 7 1 #SB_LUT4
set_location tok.equal_142_i14_2_lut_3_lut_4_lut 11 7 2 #SB_LUT4
set_location tok.A_stk.tail_i0_i8 2 5 6 #SB_DFFE
set_location tok.A_i10 2 11 3 #SB_DFFER
set_location tok.uart.i3_4_lut 2 9 3 #SB_LUT4
set_location tok.ram.i1732_3_lut 7 2 1 #SB_LUT4
set_location tok.i5_4_lut_adj_122 11 11 2 #SB_LUT4
set_location tok.i3_4_lut_adj_32 11 9 1 #SB_LUT4
set_location tok.i2_4_lut_4_lut 7 4 2 #SB_LUT4
set_location tok.C_stk.tail_i0_i19 12 4 2 #SB_DFFE
set_location tok.A_stk.tail_i0_i48 2 3 3 #SB_DFFE
set_location tok.A_stk.tail_i0_i110 2 4 0 #SB_DFFE
set_location tok.A_stk.tail_15__I_0_i13_3_lut 5 2 7 #SB_LUT4
set_location tok.i50_4_lut_adj_30 6 13 4 #SB_LUT4
set_location tok.i2562_3_lut_4_lut 8 9 4 #SB_LUT4
set_location tok.add_109_16 5 9 6 #SB_CARRY
set_location tok.A_stk.tail_i0_i63 6 2 3 #SB_DFFE
set_location tok.A_stk.tail_111__I_0_i78_3_lut_4_lut 4 5 2 #SB_LUT4
set_location tok.A_stk.tail_111__I_0_i60_3_lut_4_lut 1 4 3 #SB_LUT4
set_location tok.uart.valid_54 6 8 2 #SB_DFFE
set_location tok.i4315_2_lut_4_lut 11 8 2 #SB_LUT4
set_location tok.i1_4_lut_adj_169 11 10 2 #SB_LUT4
set_location tok.C_stk.head_i0_i7 9 4 1 #SB_DFF
set_location tok.uart.txclkcounter_144__i3 1 5 3 #SB_DFFSR
set_location tok.uart.capture_i0_i9 2 10 4 #SB_DFF
set_location tok.inv_106_i9_1_lut 5 11 6 #SB_LUT4
set_location tok.i7_4_lut_adj_109 2 8 2 #SB_LUT4
set_location tok.C_stk.n602_bdd_4_lut_4744 11 5 0 #SB_LUT4
set_location tok.A_stk.tail_i0_i89 0 6 1 #SB_DFFE
set_location tok.A_stk.tail_111__I_0_i2_3_lut_4_lut 5 3 1 #SB_LUT4
set_location i1124_3_lut 9 6 3 #SB_LUT4
set_location tok.or_99_i13_2_lut 8 12 5 #SB_LUT4
set_location tok.i12_4_lut 4 7 0 #SB_LUT4
set_location tok.A_stk.tail_111__I_0_i74_3_lut_4_lut 0 6 2 #SB_LUT4
set_location i1123_3_lut 9 6 2 #SB_LUT4
set_location tok.i1_4_lut_adj_77 2 11 6 #SB_LUT4
set_location tok.i125_4_lut_adj_84 13 7 4 #SB_LUT4
set_location tok.add_109_3_lut 5 8 1 #SB_LUT4
set_location tok.C_stk.tail_i0_i35 12 4 4 #SB_DFFE
set_location i1085_4_lut_4_lut 0 4 1 #SB_LUT4
set_location tok.uart.txclkcounter_144_add_4_10_lut 1 6 0 #SB_LUT4
set_location tok.i4604_2_lut_3_lut 8 4 3 #SB_LUT4
set_location tok.i2_3_lut 7 7 2 #SB_LUT4
set_location i1127_3_lut 9 6 6 #SB_LUT4
set_location tok.i5_4_lut_adj_69 6 4 3 #SB_LUT4
set_location tok.i4564_4_lut 8 3 4 #SB_LUT4
set_location tok.i2577_2_lut_3_lut 1 9 0 #SB_LUT4
set_location tok.i1_4_lut_adj_207 6 6 2 #SB_LUT4
set_location tok.A_stk.tail_111__I_0_i65_3_lut_4_lut 2 3 4 #SB_LUT4
set_location tok.uart.i2_3_lut 0 10 5 #SB_LUT4
set_location tok.tc_7__I_0_2_lut 9 5 0 #SB_LUT4
set_location tok.select_73_Select_15_i2_3_lut 5 10 0 #SB_LUT4
set_location tok.i2_4_lut_adj_97 6 7 5 #SB_LUT4
set_location tok.i2_3_lut_adj_118 7 11 0 #SB_LUT4
set_location tok.i1_3_lut_adj_210 6 6 1 #SB_LUT4
set_location tok.i4_4_lut_adj_159 8 11 6 #SB_LUT4
set_location tok.depth_i1 7 4 1 #SB_DFFR
set_location tok.A_stk.tail_111__I_0_i91_3_lut_4_lut 2 7 1 #SB_LUT4
set_location tok.uart.rxclkcounter_147_add_4_2 1 8 0 #SB_CARRY
set_location tok.ram.i1588_3_lut 12 3 2 #SB_LUT4
set_location tok.i44_3_lut 7 10 1 #SB_LUT4
set_location tok.i1_4_lut_adj_33 12 8 6 #SB_LUT4
set_location tok.C_stk.tail_55__I_0_i31_3_lut 11 3 0 #SB_LUT4
set_location tok.A_stk.tail_111__I_0_i47_3_lut_4_lut 2 4 4 #SB_LUT4
set_location tok.A_stk.tail_111__I_0_i20_3_lut_4_lut 5 5 1 #SB_LUT4
set_location tok.A_i15 2 11 5 #SB_DFFER
set_location i1070_3_lut 2 10 4 #SB_LUT4
set_location tok.tc_i7 9 6 0 #SB_DFFS
set_location tok.sub_105_add_2_5_lut 4 11 3 #SB_LUT4
set_location tok.sub_105_add_2_2 4 11 0 #SB_CARRY
set_location tok.i2_4_lut_adj_39 6 8 0 #SB_LUT4
set_location tok.i1_4_lut_adj_81 11 6 3 #SB_LUT4
set_location tok.add_104_14 9 9 4 #SB_CARRY
set_location tok.C_stk.tail_55__I_0_i15_3_lut 12 3 7 #SB_LUT4
set_location tok.uart.i4684_2_lut_3_lut 6 8 2 #SB_LUT4
set_location tok.i4597_4_lut 5 7 1 #SB_LUT4
set_location tok.add_109_13 5 9 3 #SB_CARRY
set_location tok.A_stk.tail_i0_i64 2 3 4 #SB_DFFE
set_location tok.A_stk.head_i0_i9 0 6 7 #SB_DFFE
set_location tok.A_stk.head_i0_i11 1 4 7 #SB_DFFE
set_location tok.uart.txclkcounter_144_add_4_8_lut 1 5 6 #SB_LUT4
set_location tok.uart.sender_9__I_0_i9_3_lut 7 11 4 #SB_LUT4
set_location tok.uart.i4705_4_lut 1 7 3 #SB_LUT4
set_location tok.i1623_3_lut_4_lut 4 8 6 #SB_LUT4
set_location tok.C_stk.tail_55__I_0_i10_3_lut 7 2 0 #SB_LUT4
set_location tok.C_stk.head_i0_i4 12 5 1 #SB_DFF
set_location tok.A__15__I_16_i4_3_lut 8 10 7 #SB_LUT4
set_location tok.uart.rxclkcounter_147_add_4_3_lut 1 8 1 #SB_LUT4
set_location tok.or_99_i7_3_lut_4_lut 6 8 7 #SB_LUT4
set_location tok.i3_3_lut 12 9 7 #SB_LUT4
set_location tok.A_stk.tail_111__I_0_i80_3_lut_4_lut 6 2 2 #SB_LUT4
set_location tok.A_stk.tail_111__I_0_i12_3_lut_4_lut 1 4 6 #SB_LUT4
set_location tok.i9_4_lut_adj_146 6 12 2 #SB_LUT4
set_location tok.add_104_15_lut 9 9 5 #SB_LUT4
set_location tok.add_109_6 5 8 4 #SB_CARRY
set_location tok.A_stk.tail_i0_i95 6 2 7 #SB_DFFE
set_location i1066_3_lut 9 13 3 #SB_LUT4
set_location tok.or_99_i6_3_lut 6 8 4 #SB_LUT4
set_location tok.A_stk.tail_15__I_0_i1_3_lut 2 3 7 #SB_LUT4
set_location i1079_3_lut 4 10 2 #SB_LUT4
set_location tok.i7_4_lut_adj_202 7 7 7 #SB_LUT4
set_location tok.i50_4_lut_adj_209 7 13 2 #SB_LUT4
set_location tok.i1_4_lut_adj_36 12 8 7 #SB_LUT4
set_location tok.C_stk.tail_i0_i9 7 2 0 #SB_DFFE
set_location tok.uart.sender_i3 7 10 6 #SB_DFFE
set_location tok.tc_i2 9 6 5 #SB_DFFS
set_location tok.A_stk.tail_i0_i33 5 3 2 #SB_DFFE
set_location tok.ram.i1661_3_lut 12 4 6 #SB_LUT4
set_location tok.C_stk.tail_i0_i40 8 2 7 #SB_DFFE
set_location tok.C_stk.tail_55__I_0_i13_3_lut 9 2 0 #SB_LUT4
set_location tok.A_stk.tail_i0_i51 5 4 4 #SB_DFFE
set_location tok.idx_7__I_0_5_lut 8 13 3 #SB_LUT4
set_location tok.i4619_2_lut_3_lut 11 5 3 #SB_LUT4
set_location tok.i1_4_lut_adj_47 6 11 0 #SB_LUT4
set_location tok.C_stk.tail_i0_i33 7 2 4 #SB_DFFE
set_location tok.A_stk.tail_15__I_0_i15_3_lut 2 4 7 #SB_LUT4
set_location tok.A_stk.tail_111__I_0_i93_3_lut_4_lut 5 2 1 #SB_LUT4
set_location tok.i1_2_lut_adj_197 7 4 6 #SB_LUT4
set_location tok.add_104_6 9 8 4 #SB_CARRY
set_location i1069_3_lut 8 7 3 #SB_LUT4
set_location tok.select_73_Select_15_i9_2_lut 5 10 4 #SB_LUT4
set_location tok.i2559_2_lut_4_lut 7 3 0 #SB_LUT4
set_location tok.i1_4_lut_adj_142 6 12 1 #SB_LUT4
set_location tok.C_stk.tail_i0_i63 11 4 3 #SB_DFF
set_location tok.sub_105_add_2_13 4 12 3 #SB_CARRY
set_location tok.sub_100_add_2_7 9 11 5 #SB_CARRY
set_location tok.i995_3_lut 7 7 3 #SB_LUT4
set_location tok.A_stk.tail_i0_i123 0 4 1 #SB_DFF
set_location tok.A_stk.tail_i0_i10 2 7 6 #SB_DFFE
set_location tok.i1_2_lut_adj_135 7 3 1 #SB_LUT4
set_location i1082_3_lut 8 7 6 #SB_LUT4
set_location tok.tc_7__I_0_4_lut 9 5 2 #SB_LUT4
set_location tok.C_stk.tail_i0_i24 11 2 7 #SB_DFFE
set_location tok.uart.capture_i0_i0 6 4 5 #SB_DFF
set_location tok.reset_I_0_1_lut 5 14 1 #SB_LUT4
set_location tok.A_stk.tail_i0_i104 2 5 0 #SB_DFFE
set_location tok.i5_3_lut_adj_82 8 9 0 #SB_LUT4
set_location tok.A_stk.tail_i0_i75 1 4 2 #SB_DFFE
set_location i1102_4_lut_4_lut 2 6 5 #SB_LUT4
set_location tok.tc_7__I_0_6 9 5 4 #SB_CARRY
set_location tok.ram.i1514_3_lut 11 2 2 #SB_LUT4
set_location tok.i4670_4_lut 8 12 4 #SB_LUT4
set_location tok.i3_3_lut_adj_46 6 9 4 #SB_LUT4
set_location tok.A_stk.tail_i0_i93 4 5 1 #SB_DFFE
set_location tok.A_stk.tail_15__I_0_i2_3_lut 5 3 7 #SB_LUT4
set_location tok.i125_4_lut_adj_103 6 4 0 #SB_LUT4
set_location tok.uart.sender_i5 7 10 7 #SB_DFFE
set_location tok.i3_4_lut 12 8 5 #SB_LUT4
set_location tok.A_stk.tail_i0_i7 0 7 6 #SB_DFFE
set_location tok.A_stk.tail_i0_i35 5 4 1 #SB_DFFE
set_location tok.add_104_17_lut 9 9 7 #SB_LUT4
set_location tok.C_stk.tail_i0_i12 9 2 0 #SB_DFFE
set_location tok.i5_3_lut_adj_95 5 10 5 #SB_LUT4
set_location tok.C_stk.tail_i0_i46 11 3 3 #SB_DFFE
set_location tok.sub_105_add_2_13_lut 4 12 3 #SB_LUT4
set_location tok.C_stk.tail_55__I_0_i48_3_lut 11 2 5 #SB_LUT4
set_location tok.A_stk.tail_i0_i57 0 6 3 #SB_DFFE
set_location tok.A_stk.tail_i0_i84 5 6 1 #SB_DFFE
set_location tok.uart.bytephase__i5 1 10 5 #SB_DFFESR
set_location tok.ram.i5_4_lut 9 3 6 #SB_LUT4
set_location tok.A__15__I_0_i12_4_lut 6 10 2 #SB_LUT4
set_location tok.A_stk.tail_i0_i26 2 7 5 #SB_DFFE
set_location tok.i4674_4_lut 6 10 4 #SB_LUT4
set_location tok.i4373_4_lut 11 9 2 #SB_LUT4
set_location tok.i2_4_lut_adj_66 7 12 0 #SB_LUT4
set_location tok.A_stk.tail_i0_i125 4 4 1 #SB_DFF
set_location tok.i26_3_lut_adj_137 9 4 2 #SB_LUT4
set_location tok.inv_106_i3_1_lut 4 9 1 #SB_LUT4
set_location tok.i4676_4_lut 2 12 7 #SB_LUT4
set_location tok.uart.add_72_2_lut 1 10 0 #SB_LUT4
set_location tok.i5_3_lut_adj_145 5 12 3 #SB_LUT4
set_location tok.A_stk.tail_i0_i40 2 5 4 #SB_DFFE
set_location tok.i26_3_lut_adj_148 9 4 6 #SB_LUT4
set_location tok.A_stk.head_i0_i4 5 6 7 #SB_DFFE
set_location tok.uart.capture_i0_i6 4 10 6 #SB_DFF
set_location tok.i26_3_lut 8 5 6 #SB_LUT4
set_location tok.i2575_2_lut_3_lut 6 7 0 #SB_LUT4
set_location tok.A_stk.tail_i0_i102 4 6 0 #SB_DFFE
set_location tok.i4634_2_lut_3_lut 9 3 0 #SB_LUT4
set_location tok.C_stk.tail_i0_i54 11 3 4 #SB_DFFE
set_location tok.A_stk.tail_111__I_0_i87_3_lut_4_lut 4 6 1 #SB_LUT4
set_io tx A3
set_io rx C2
set_io reset B2
